{% extends "base-front.html.twig" %}

{% block title %}
    Votre panier
{% endblock %}

{% block body %}
    {{ include('front_office/navbar.html.twig') }}
    <section class="page-title" style="background-image:url(https://via.placeholder.com/1920x600)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Votre panier</h2>
                    <div class="text">Fitness is not a destination it is a way of life.</div>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">home</a></li>
                        <li>Shoping Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
<!--Cart Section-->
<section class="cart-section">
    <div class="auto-container">

        <!--Cart Outer-->
        <div class="cart-outer">
            <div class="table-outer">
                <table class="cart-table">
                    <thead class="cart-header">
                    <tr>
                        <th class="prod-column">Product</th>
                        <th class="price">Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for element in dataPanier %}
                    <tr>
                        <td class="prod-column">
                            <div class="column-box">
                                <figure class="prod-thumb"><a href="#"><img src="images/resource/products/thumb-1.jpg" alt=""></a></figure>
                                <h6 class="prod-title">{{ element.produit.nom }}</h6>
                            </div>
                        </td>
                        <td class="price">{{ element.produit.prix }} TND</td>
                        <td class="qty">{{ element.quantite }}</td>
                        <td class="sub-total">{{ element.quantite * element.produit.prix }} TND</td>
                        <td class="add-new-plus"><a href="{{path("add", {id: element.produit.id})}}" class="btn btn-success"><span class="flaticon-multiply"></span></a></td>
                    </tr>
                    {% else %}
                        <tr>
                            <td colspan="5" class="text-center">Votre panier est vide</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="coupon-outer clearfix">
                <div class="pull-left">
                    <div class="apply-coupon clearfix">
                        <div class="form-group clearfix">
                            <input type="text" name="coupon-code" value="" placeholder="Coupon Code">
                        </div>
                        <div class="form-group clearfix">
                            <button type="button" class="theme-btn coupon-btn btn-style-three"><span class="txt">Apply Coupon</span></button>
                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <button type="button" class="theme-btn btn-style-three"><span class="txt">Update Cart</span></button>
                </div>

            </div>


            <div class="text-left"><button type="submit" class="theme-btn checkout-btn">Proceed to Checkout</button></div>
        </div>

    </div>
</section>
    {{ include('front_office/footer.html.twig') }}
{% endblock %}