{% extends "base-back.html.twig" %}
{% block body %}
<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class="text-center">
        <a href="{{ path('app_login') }}" class="logo"><span>ENER<span>GYM</span></span></a>
        <h5 class="text-muted m-t-0 font-600">Responsive Admin Dashboard</h5>
    </div>
    <div class="m-t-40 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Confirm Email</h4>
        </div>
        <div class="panel-body text-center">
            <img src="{{ asset('Dashboard/images/mail_confirm.png')}}" alt="img" class="thumb-lg m-t-20 center-block" />
            {{
            form_start(form,
                {
                    'attr'
                    :
                    {
                        'novalidate'
                        :
                        'novalidate'
                    }})
            }}
            <div class="form-group ">
                <div class="col-xs-12">
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control','placeholder': 'Ecrire votre email..'} }) }}
                    {{ form_errors(form.email, { 'attr': {'class': 'form-control'} }) }}

                </div>
            </div>
            <div class="form-group ">
                <div class="col-xs-12">
                    {{ form_widget(form.VerificationCode, { 'attr': {'class': 'form-control','placeholder': 'Ecrire votre VerificationCode..'} }) }}
                    {{ form_errors(form.VerificationCode, { 'attr': {'class': 'form-control'} }) }}

                </div>
            </div>
            {{ form_widget(form.Submit,{'attr':{'class':'btn btn-custom btn-bordred btn-block waves-effect waves-light'}}) }}
            {{ form_end(form) }}

            <p class="text-muted font-13 m-t-20"> A email will be send to <b>youremail</b>. Please check for an email from company and wait for our approval. </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="text-muted">Return to <a href="{{ path('app_login') }}" class="text-primary m-l-5"><b>Sign in</b></a></p>
        </div>
    </div>

</div>
{% endblock %}
