{% extends 'base-back.html.twig' %}

{% block body %}
    Mot de passe oublie
    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class="text-center">
            <a href="index.html" class="logo"><span>Admin<span>to</span></span></a>
            <h5 class="text-muted m-t-0 font-600">Responsive Admin Dashboard</h5>
        </div>
        <div class="m-t-40 card-box">
            <div class="text-center">
                <h4 class="text-uppercase font-bold m-b-0">Reset Password</h4>

                <p class="text-muted m-b-0 font-13 m-t-20">Enter your email address and we'll send you an email with instructions to reset your password.  </p>
            </div>
            <div class="p-20">
                <div class="form-horizontal m-t-20" >

                    <div class="form-group">
                        <div class="col-xs-12">
                            {{ form_start(emailForm) }}
                            {{ form_widget(emailForm.email, {'attr':{'class': 'form-control' ,'placeholder': 'Enter email'}})}}
                            <br>
                            <br>
                            {{ form_widget(emailForm.envoyer, {'attr':{'class':'btn btn-custom btn-bordred btn-block waves-effect waves-light'}})}}
                            {{ form_end(emailForm) }}

                        </div>
                    </div>



                </div>

            </div>
        </div>
        <!-- end card-box -->

        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-muted">Already have account?<a href="{{ path('app_login') }}" class="text-primary m-l-5"><b>Sign In</b></a></p>
            </div>
        </div>

    </div>

{% endblock %}