
{% extends "base-back.html.twig" %}
{% block body %}
    {{ include('Dashboard/navbar.html.twig') }}
    {{ include('Dashboard/leftSideBar.html.twig') }}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-12">
                    <div class="card-box table-responsive">
                        <h4 class="m-t-0 header-title">Gestion de livraisons </h4>
                        <div>
                            <a  style=" position:absolute;right:10%;top:1% ;" class="btn btn-icon waves-effect waves-light btn-success m-b-5" href="{{ path('addLivraison') }}"> <i class="fa fa-plus dark"></i> </a>
                        </div>
                        <table id="datatable" class="table table-bordered">
                            <thead>
                            <th>Numéro de commande</th>
                            <th>Nom de livreur</th>
                            <th>Date de livraison</th>
                            <th>Etat</th>
                            <th>edit</th>
                            <th>delete</th>
                            </thead>
                            <tbody>
                            {% for l in livraisons %}

                            <td>{{ l.idCommande }}</td>
                            <td>{{ l.nomLivreur }}</td>

                            <td>{{ l.dateLivraison |date('d-m-Y') }}</td>
                            <td>{{ l.etat }}</td>
                            <td>
                                <a type="button" href="{{ path('modifyLivraison', {'id': l.id}) }}" class="btn btn-primary btn-icon rounded-pill"><i class=" dripicons-document-edit"></i></a>
                            </td>
                            <td>
                                <form method="post" action="{{ path('deleteLivraison', {'id': l.id}) }}"  onsubmit="return confirm('Voulez vous supprimer cette livraison ?')">
                                    <input type="hidden" name="_method" value="SUP">
                                    <input type="hidden" name="_token" value="{{l.id }}">
                                    <button type="submit" value="supprimer" class="btn btn-danger btn-icon  rounded-pill"><i class="  ti-trash"></i></button>
                                </form>
                            </td>
                            </tbody>

                            {% endfor %}

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
