{% extends "base-front.html.twig" %}

{% block title %}
    Reclamation!
{% endblock %}

{% block body %}
    {{ include('front_office/navbar.html.twig') }}
<section class="page-title" style="background-image:url(https://via.placeholder.com/1920x600)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h2>Frequently Ask Quetion</h2>
                <div class="text">Fitness is not a destination it is a way of life.</div>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="index.html">home</a></li>
                    <li>Faq's</li>
                </ul>
            </div>
        </div>
    </div>
</section>
    <br>
<div class="lower-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Form Column -->
            <div class="form-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <div class="title">Tell Us Now</div>
                        <h2>If you have any <br> Question in your mind</h2>
                    </div>

                    <!-- Default Form -->
                    <div class="default-form style-two">

                        <!-- Default Form -->
                        {{
                        form_start(form_reclamation,
                            {
                                'attr'
                                :
                                {
                                    'novalidate'
                                    :
                                    'novalidate'
                                }})
                        }}
                        <div class="form-group">
                            {{ form_widget(form_reclamation.produit, { 'attr': {'class': 'form-control','placeholder': 'Ajouter un produit acheté'} }) }}
                            {{ form_errors(form_reclamation.produit, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                            <div class="form-group">
                                {{ form_widget(form_reclamation.titre, { 'attr': {'class': 'form-control','placeholder': 'Ecrire un titre..'} }) }}
                                {{ form_errors(form_reclamation.titre, { 'attr': {'class': 'form-control'} }) }}

                            </div>
                            <div class="form-group">
                                {{ form_widget(form_reclamation.contenu, { 'attr': {'class': 'form-control' ,'placeholder': 'Ecrire un Contenu..'} }) }}
                                {{ form_errors(form_reclamation.contenu, { 'attr': {'class': 'form-control'} }) }}
                            </div>

                            <div class="form-group">
                                <div class="btn-three-outer"><button class="theme-btn btn-style-three" type="submit" name="submit-form"><span class="txt">SEND Now</span></button></div>
                            </div>

                        {{ form_end(form_reclamation) }}

                        <!--End Default Form -->
                    </div>

                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image">
                        <img src="https://via.placeholder.com/550x725" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    <br>
    {{ include('front_office/footer.html.twig') }}
{% endblock %}