{% extends 'base.html.twig' %}

{% block title %}Hello MobileController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
<<<<<<< HEAD
        <li>Your controller at <code><a href="{{ 'D:/Nouveau dossier/SAUVGARDE/ENERGYM/src/Controller/MobileController.php'|file_link(0) }}">src/Controller/MobileController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/Nouveau dossier/SAUVGARDE/ENERGYM/templates/mobile/index.html.twig'|file_link(0) }}">templates/mobile/index.html.twig</a></code></li>
=======
        <li>Your controller at <code><a href="{{ 'C:/Users/karim/Desktop/PROJET PIDEV/energym web/ENERGYM/src/Controller/MobileController.php'|file_link(0) }}">src/Controller/MobileController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/karim/Desktop/PROJET PIDEV/energym web/ENERGYM/templates/mobile/index.html.twig'|file_link(0) }}">templates/mobile/index.html.twig</a></code></li>
>>>>>>> 6635c70773d7bd4e05714f850a92f0157e9327f8
    </ul>
</div>
{% endblock %}
