
{% extends "base-back.html.twig" %}
{% block body %}
    {{ render(path('notification', {max: 3})) }}
    {{ include('Dashboard/leftSideBar.html.twig') }}

    <div class="content-page">
        <!-- Start content -->

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title">create produit</h4>
                            <div class="row">
                                <div class="col-12">
                                    <div class="p-20">

                                        {{ form_start(form_produit) }}

                                        <form class="form-horizontal" role="form">

                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Nom</label>
                                                <div class="col-10">
                                                    {{ form_widget(form_produit.nom) }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label" for="example-email">description</label>
                                                <div class="col-10">
                                                    {{ form_widget(form_produit.description) }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">prix</label>
                                                <div class="col-10">
                                                    {{ form_widget(form_produit.prix) }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">quantite</label>
                                                <div class="col-10">
                                                    {{ form_widget(form_produit.quantite) }}
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-2 col-form-label">image</label>
                                                    <div class="col-10">
                                                        {{ form_widget(form_produit.image) }}
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-2 col-form-label">Categories</label>
                                                        <div class="col-10">
                                                            {{ form_widget(form_produit.categories) }}
                                                        </div>
                                            </div>
                                            <a class="btn btn-primary" href="{{ path('produit') }}">Retour</a>
                                            <input type="submit" value="modifier"   class="btn btn-success">
                                            {{ form_end(form_produit) }}

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
