{% extends "base-back.html.twig" %}

{% block title %}CategorieEvent!{% endblock %}


{% block body %}

    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">


                </div>
                <div class="row" style="display: flex;align-items: center;justify-content: center">
                    <div class="col-12">
                        <div class="card-box">

                            <h4 class="m-t-0 header-title">Catégorie des événements</h4>

                            <table class="table">
                                <thead class="thead-light">
                                <tr>
                                    <th>id</th>
                                    <th>Nom</th>
                                    <th>Modifier</th>
                                    <th>Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for c in CategoriesEvent %}
                                    <tr>

                                        <th scope="row">{{ c.id }}</th>
                                        <td>{{ c.nomCategorie }}</td>
                                        <td><a href="{{ path('ModifierCategEvent',{'id':c.id}) }}"><i class="fa fa-pencil" style="color:#00aff0;font-size:20px"></i> </a> </td>
                                        <td><a href="{{ path('SupprimerCategEvent',{'id':c.id}) }}"><i class="fa fa-trash" style="color:#ff5b5b;font-size:20px"></i> </a> </td>

                                    </tr>

                                {% endfor %}


                                </tbody>
                            </table>
                            <a href="{{ path('AjouterCategEvent') }}">
                                <button type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-5">Ajouter Une categorie</button>

                            </a>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>


{% endblock %}
