{% extends "base-back.html.twig" %}

{% block title %}add CategorieEvent!{% endblock %}

{% block body %}




    {{ render(path('notification', {max: 3})) }}
    {{ include('Dashboard/leftsideBar.html.twig') }}




    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row" style="display: flex;align-items: center;justify-content: center">
                    <div class="col-md-6">
                        <div class="card-box">
                            <h4 class="m-t-0 m-b-30 header-title">Ajouter une Catégorie</h4>
                            {{ form_start(f, {attr: {novalidate: 'novalidate'}}) }}

                            <div class="form-group">
                                <label for="Nom">Nom</label>
                                {{ form_widget(f.nomCategorie, {'attr':{'class':'form-control'}})}}
                                {{ form_errors(f.nomCategorie, {'attr':{'class':'text-danger mb-1 '}})}}
                            </div>
                            <div class="form-group">
                                {{ form_widget(f.Submit,{'attr':{'class':'btn btn-pink btn-rounded w-md waves-effect waves-light m-b-5'}}) }}
                            </div>


                            {{ form_end(f) }}

                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>




{% endblock %}