{% extends "base-front.html.twig" %}

{% block title %}
    Products!
{% endblock %}

{% block body %}
    {{ include('front_office/navbar.html.twig') }}
    <section class="page-title" style="background-image:url(https://via.placeholder.com/1920x600)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Shop Detail</h2>
                    <div class="text">Fitness is not a destination it is a way of life.</div>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">home</a></li>
                        <li>Shop Detail</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="shop-single-section">
        <div class="auto-container">

            <!--Shop Single-->
            <div class="shop-page product-details">

                <!--Basic Details-->
                <div class="basic-details">
                    <div class="row clearfix">

                        <div class="image-column col-lg-6 col-md-12 col-sm-12">
                            <div class="carousel-outer">

                                <ul class="image">
                                    <div class="img-holder">
                                        <img width="3838" height="3609" src="{{ asset('uploads/produit/'~ Product.image)  }}" class="" alt="">
                                    </div>




















                            </div>
                        </div>

                        <!--Info Column-->
                        <div class="info-column col-lg-6 col-md-12 col-sm-12">
                            <div class="details-header">
                                <h2>{{ Product.nom}}</h2>
                                <div class="rating">
                                    <i class="fa fa-star fa-2x"  data-index="0"></i>
                                    <i class="fa fa-star fa-2x " data-index="1">
                                    </i> <i class="fa fa-star fa-2x" data-index="2">
                                    </i> <i class="fa fa-star fa-2x" data-index="3"></i>
                                    <i class="fa fa-star fa-2x" data-index="4"></i></div>
                                <script src="http://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
                                <script>
                                    var ratedIndex = -1, uID = 0;

                                    $(document).ready(function () {
                                        resetStarColors();

                                        if (localStorage.getItem('ratedIndex') != null) {
                                            setStars(parseInt(localStorage.getItem('ratedIndex')));
                                            uID = localStorage.getItem('uID');
                                        }

                                        $('.fa-star').on('click', function () {
                                            ratedIndex = parseInt($(this).data('index'));
                                            localStorage.setItem('ratedIndex', ratedIndex);
                                            saveToTheDB();
                                        });

                                        $('.fa-star').mouseover(function () {
                                            resetStarColors();
                                            var currentIndex = parseInt($(this).data('index'));
                                            setStars(currentIndex);
                                        });

                                        $('.fa-star').mouseleave(function () {
                                            resetStarColors();

                                            if (ratedIndex != -1)
                                                setStars(ratedIndex);
                                        });
                                    });

                                    function saveToTheDB() {
                                        $.ajax({
                                            url: "index.html.twig",
                                            method: "POST",
                                            dataType: 'json',
                                            data: {
                                                save: 1,
                                                uID: uID,
                                                ratedIndex: ratedIndex
                                            }, success: function (r) {
                                                uID = r.id;
                                                localStorage.setItem('uID', uID);
                                            }
                                        });
                                    }

                                    function setStars(max) {
                                        for (var i=0; i <= max; i++)
                                            $('.fa-star:eq('+i+')').css('color', 'red');
                                    }

                                    function resetStarColors() {
                                        $('.fa-star').css('color', 'grey');
                                    }
                                </script>






                                <div class="item-price">Prix:{{ Product.prix }}$</div>
                            </div>

                            <div class="text">
                                <p>{{ Product.description }}</p>
                            </div>

                            <div class="other-options">
                                <div class="clearfix">

                                    <div class="pull-left">
                                        <!--Btns Box-->
                                        <div class="btns-box">
                                            {% if app.user %}
                                                <a href="{{path("add", {id: Product.id})}} type="button" class="theme-btn btn-style-three"><span class="txt">Add To Cart</span></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <ul class="shop-list">
                                <li><strong>Quantité en stock</strong><span class="theme_color">.</span>{{ Product.quantite }}</li>
                                {% for c in Product.Categories %}
                                    <li><strong>Category</strong><span class="theme_color">.</span>{{ c.nom }}</li>
                                {% endfor %}
                                <li><strong>share</strong><span class="theme_color">.</span></li>
                                <li><a href="#">Add to Wishlist .</a></li>
                            </ul>

                        </div>

                    </div>
                </div>
                <!--Basic Details-->

                <!--Product Info Tabs-->

                <!--End Product Info Tabs-->

            </div>

        </div>
    </section>
    {{ include('front_office/footer.html.twig') }}
{% endblock %}