
{% extends "base-back.html.twig" %}
{% block body %}
    {{ include('Dashboard/navbar.html.twig') }}
    {{ include('Dashboard/leftSideBar.html.twig') }}

    <div class="content-page">
        <!-- Start content -->

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card-box">
                            <h4 class="m-t-0 header-title">Modifier Promotion</h4>
                            <div class="row">
                                <div class="col-12">
                                    <div class="p-20">

                                        {{ form_start(form_promo) }}

                                        <form class="form-horizontal" role="form">

                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Code Promo</label>
                                                <div class="col-10">
                                                    {{ form_widget(form_promo.code) }}
                                                    {{ form_errors(form_promo.code, {'attr':{'class':'text-danger mb-1 '}})}}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-2 col-form-label">Réduction</label>
                                                <div class="col-10">
                                                    {{ form_widget(form_promo.reduction) }}
                                                    {{ form_errors(form_promo.reduction, {'attr':{'class':'text-danger mb-1 '}})}}
                                                </div>

                                            <a class="btn btn-primary" href="{{ path('promo') }}">Retour</a>
                                            <input type="submit" value="modifier"   class="btn btn-success">
                                            {{ form_end(form_promo) }}

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
