{% extends "base-front.html.twig" %}

{% block title %}
    Shop!
{% endblock %}

{% block body %}
    {{ include('front_office/navbar.html.twig') }}
    <section class="page-title" style="background-image:url(https://via.placeholder.com/1920x600)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Our Shop</h2>
                    <div class="text">Fitness is not a destination it is a way of life.</div>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">home</a></li>
                        <li>Shops</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <!--Shop Single-->
                    <div class="shop-section">

                        <!--Sort By-->
                        <div class="items-sorting">
                            <div class="row clearfix">
                                <div class="results-column col-md-6 col-sm-6 col-xs-12">
                                    <h6>Showing Items 1–9 of 36 results</h6>
                                </div>
                                <div class="select-column pull-right col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <select name="sort-by">
                                            <option>Default Sorting</option>
                                            <option>By Order</option>
                                            <option>By Price</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="our-shops">

                            <div class="row clearfix">

                                <!-- Shop Item -->
                                <div class="single-product-item col-lg-4 col-md-6 col-sm-12 text-center">
                                    <div class="img-holder">
                                        <img width="270" height="300" src="{{ asset('front-officeimages/resource/products/1.jpg')}}" class="" alt="">
                                    </div>
                                    <div class="title-holder text-center">
                                        <div class="static-content">
                                            <h3 class="title text-center"><a href="shop-single.html">Product 01</a></h3>
                                            <span class="price"><span class="amount"><span class="">$</span>90.00</span></span>
                                        </div>
                                        <div class="overlay-content">
                                            <ul class="clearfix">
                                                <li>
                                                    <a href="shop-single.html"><span class="flaticon-shopping-bag-3"></span>
                                                        <div class="toltip-content">
                                                            <p>Add to Cart</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-single.html" class=""><span class="fa fa-heart"></span>
                                                        <div class="toltip-content">
                                                            <p>Add Whishlist</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/resource/products/1.jpg" class="lightbox-image" data-fancybox="shop-gallery"><span class="fa fa-expand"></span>
                                                        <div class="toltip-content">
                                                            <p>Zoom In</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Shop Item -->
                                <div class="single-product-item col-lg-4 col-md-6 col-sm-12 text-center">
                                    <div class="img-holder">
                                        <img width="270" height="300" src="{{ asset('front-officeimages/resource/products/2.jpg')}}" class="" alt="">
                                    </div>
                                    <div class="title-holder text-center">
                                        <div class="static-content">
                                            <h3 class="title text-center"><a href="shop-single.html">Product 02</a></h3>
                                            <span class="price"><span class="amount"><span class="">$</span>90.00</span></span>
                                        </div>
                                        <div class="overlay-content">
                                            <ul class="clearfix">
                                                <li>
                                                    <a href="shop-single.html"><span class="flaticon-shopping-bag-3"></span>
                                                        <div class="toltip-content">
                                                            <p>Add to Cart</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-single.html" class=""><span class="fa fa-heart"></span>
                                                        <div class="toltip-content">
                                                            <p>Add Whishlist</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/resource/products/1.jpg" class="lightbox-image" data-fancybox="shop-gallery"><span class="fa fa-expand"></span>
                                                        <div class="toltip-content">
                                                            <p>Zoom In</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Shop Item -->
                                <div class="single-product-item col-lg-4 col-md-6 col-sm-12 text-center">
                                    <div class="img-holder">
                                        <img width="270" height="300" src="{{ asset('front-officeimages/resource/products/3.jpg')}}" class="" alt="">
                                    </div>
                                    <div class="title-holder text-center">
                                        <div class="static-content">
                                            <h3 class="title text-center"><a href="shop-single.html">Product 03</a></h3>
                                            <span class="price"><span class="amount"><span class="">$</span>90.00</span></span>
                                        </div>
                                        <div class="overlay-content">
                                            <ul class="clearfix">
                                                <li>
                                                    <a href="shop-single.html"><span class="flaticon-shopping-bag-3"></span>
                                                        <div class="toltip-content">
                                                            <p>Add to Cart</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-single.html" class=""><span class="fa fa-heart"></span>
                                                        <div class="toltip-content">
                                                            <p>Add Whishlist</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/resource/products/1.jpg" class="lightbox-image" data-fancybox="shop-gallery"><span class="fa fa-expand"></span>
                                                        <div class="toltip-content">
                                                            <p>Zoom In</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Shop Item -->
                                <div class="single-product-item col-lg-4 col-md-6 col-sm-12 text-center">
                                    <div class="img-holder">
                                        <img width="270" height="300" src="{{ asset('front-officeimages/resource/products/4.jpg')}}" class="" alt="">
                                    </div>
                                    <div class="title-holder text-center">
                                        <div class="static-content">
                                            <h3 class="title text-center"><a href="shop-single.html">Product 04</a></h3>
                                            <span class="price"><span class="amount"><span class="">$</span>90.00</span></span>
                                        </div>
                                        <div class="overlay-content">
                                            <ul class="clearfix">
                                                <li>
                                                    <a href="shop-single.html"><span class="flaticon-shopping-bag-3"></span>
                                                        <div class="toltip-content">
                                                            <p>Add to Cart</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-single.html" class=""><span class="fa fa-heart"></span>
                                                        <div class="toltip-content">
                                                            <p>Add Whishlist</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/resource/products/1.jpg" class="lightbox-image" data-fancybox="shop-gallery"><span class="fa fa-expand"></span>
                                                        <div class="toltip-content">
                                                            <p>Zoom In</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Shop Item -->
                                <div class="single-product-item col-lg-4 col-md-6 col-sm-12 text-center">
                                    <div class="img-holder">
                                        <img width="270" height="300" src="{{ asset('front-officeimages/resource/products/5.jpg')}}" class="" alt="">
                                    </div>
                                    <div class="title-holder text-center">
                                        <div class="static-content">
                                            <h3 class="title text-center"><a href="shop-single.html">Product 05</a></h3>
                                            <span class="price"><span class="amount"><span class="">$</span>90.00</span></span>
                                        </div>
                                        <div class="overlay-content">
                                            <ul class="clearfix">
                                                <li>
                                                    <a href="shop-single.html"><span class="flaticon-shopping-bag-3"></span>
                                                        <div class="toltip-content">
                                                            <p>Add to Cart</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-single.html" class=""><span class="fa fa-heart"></span>
                                                        <div class="toltip-content">
                                                            <p>Add Whishlist</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/resource/products/1.jpg" class="lightbox-image" data-fancybox="shop-gallery"><span class="fa fa-expand"></span>
                                                        <div class="toltip-content">
                                                            <p>Zoom In</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Shop Item -->
                                <div class="single-product-item col-lg-4 col-md-6 col-sm-12 text-center">
                                    <div class="img-holder">
                                        <img width="270" height="300" src="{{ asset('front-officeimages/resource/products/6.jpg')}}" class="" alt="">
                                    </div>
                                    <div class="title-holder text-center">
                                        <div class="static-content">
                                            <h3 class="title text-center"><a href="shop-single.html">Product 06</a></h3>
                                            <span class="price"><span class="amount"><span class="">$</span>90.00</span></span>
                                        </div>
                                        <div class="overlay-content">
                                            <ul class="clearfix">
                                                <li>
                                                    <a href="shop-single.html"><span class="flaticon-shopping-bag-3"></span>
                                                        <div class="toltip-content">
                                                            <p>Add to Cart</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-single.html" class=""><span class="fa fa-heart"></span>
                                                        <div class="toltip-content">
                                                            <p>Add Whishlist</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/resource/products/1.jpg" class="lightbox-image" data-fancybox="shop-gallery"><span class="fa fa-expand"></span>
                                                        <div class="toltip-content">
                                                            <p>Zoom In</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Shop Item -->
                                <div class="single-product-item col-lg-4 col-md-6 col-sm-12 text-center">
                                    <div class="img-holder">
                                        <img width="270" height="300" src="{{ asset('front-officeimages/resource/products/7.jpg')}}" class="" alt="">
                                    </div>
                                    <div class="title-holder text-center">
                                        <div class="static-content">
                                            <h3 class="title text-center"><a href="shop-single.html">Product 07</a></h3>
                                            <span class="price"><span class="amount"><span class="">$</span>90.00</span></span>
                                        </div>
                                        <div class="overlay-content">
                                            <ul class="clearfix">
                                                <li>
                                                    <a href="shop-single.html"><span class="flaticon-shopping-bag-3"></span>
                                                        <div class="toltip-content">
                                                            <p>Add to Cart</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-single.html" class=""><span class="fa fa-heart"></span>
                                                        <div class="toltip-content">
                                                            <p>Add Whishlist</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/resource/products/1.jpg" class="lightbox-image" data-fancybox="shop-gallery"><span class="fa fa-expand"></span>
                                                        <div class="toltip-content">
                                                            <p>Zoom In</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Shop Item -->
                                <div class="single-product-item col-lg-4 col-md-6 col-sm-12 text-center">
                                    <div class="img-holder">
                                        <img width="270" height="300" src="{{ asset('front-officeimages/resource/products/8.jpg')}}" class="" alt="">
                                    </div>
                                    <div class="title-holder text-center">
                                        <div class="static-content">
                                            <h3 class="title text-center"><a href="shop-single.html">Product 08</a></h3>
                                            <span class="price"><span class="amount"><span class="">$</span>90.00</span></span>
                                        </div>
                                        <div class="overlay-content">
                                            <ul class="clearfix">
                                                <li>
                                                    <a href="shop-single.html"><span class="flaticon-shopping-bag-3"></span>
                                                        <div class="toltip-content">
                                                            <p>Add to Cart</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-single.html" class=""><span class="fa fa-heart"></span>
                                                        <div class="toltip-content">
                                                            <p>Add Whishlist</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/resource/products/1.jpg" class="lightbox-image" data-fancybox="shop-gallery"><span class="fa fa-expand"></span>
                                                        <div class="toltip-content">
                                                            <p>Zoom In</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Shop Item -->
                                <div class="single-product-item col-lg-4 col-md-6 col-sm-12 text-center">
                                    <div class="img-holder">
                                        <img width="270" height="300" src="{{ asset('front-officeimages/resource/products/9.jpg')}}" class="" alt="">
                                    </div>
                                    <div class="title-holder text-center">
                                        <div class="static-content">
                                            <h3 class="title text-center"><a href="shop-single.html">Product 09</a></h3>
                                            <span class="price"><span class="amount"><span class="">$</span>90.00</span></span>
                                        </div>
                                        <div class="overlay-content">
                                            <ul class="clearfix">
                                                <li>
                                                    <a href="shop-single.html"><span class="flaticon-shopping-bag-3"></span>
                                                        <div class="toltip-content">
                                                            <p>Add to Cart</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-single.html" class=""><span class="fa fa-heart"></span>
                                                        <div class="toltip-content">
                                                            <p>Add Whishlist</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/resource/products/1.jpg" class="lightbox-image" data-fancybox="shop-gallery"><span class="fa fa-expand"></span>
                                                        <div class="toltip-content">
                                                            <p>Zoom In</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Shop Item -->
                                <div class="single-product-item col-lg-4 col-md-6 col-sm-12 text-center">
                                    <div class="img-holder">
                                        <img width="270" height="300" src="{{ asset('front-officeimages/resource/products/10.jpg')}}" class="" alt="">
                                    </div>
                                    <div class="title-holder text-center">
                                        <div class="static-content">
                                            <h3 class="title text-center"><a href="shop-single.html">Product 10</a></h3>
                                            <span class="price"><span class="amount"><span class="">$</span>90.00</span></span>
                                        </div>
                                        <div class="overlay-content">
                                            <ul class="clearfix">
                                                <li>
                                                    <a href="shop-single.html"><span class="flaticon-shopping-bag-3"></span>
                                                        <div class="toltip-content">
                                                            <p>Add to Cart</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-single.html" class=""><span class="fa fa-heart"></span>
                                                        <div class="toltip-content">
                                                            <p>Add Whishlist</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/resource/products/1.jpg" class="lightbox-image" data-fancybox="shop-gallery"><span class="fa fa-expand"></span>
                                                        <div class="toltip-content">
                                                            <p>Zoom In</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Shop Item -->
                                <div class="single-product-item col-lg-4 col-md-6 col-sm-12 text-center">
                                    <div class="img-holder">
                                        <img width="270" height="300" src="{{ asset('front-officeimages/resource/products/11.jpg')}}" class="" alt="">
                                    </div>
                                    <div class="title-holder text-center">
                                        <div class="static-content">
                                            <h3 class="title text-center"><a href="shop-single.html">Product 11</a></h3>
                                            <span class="price"><span class="amount"><span class="">$</span>90.00</span></span>
                                        </div>
                                        <div class="overlay-content">
                                            <ul class="clearfix">
                                                <li>
                                                    <a href="shop-single.html"><span class="flaticon-shopping-bag-3"></span>
                                                        <div class="toltip-content">
                                                            <p>Add to Cart</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-single.html" class=""><span class="fa fa-heart"></span>
                                                        <div class="toltip-content">
                                                            <p>Add Whishlist</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/resource/products/1.jpg" class="lightbox-image" data-fancybox="shop-gallery"><span class="fa fa-expand"></span>
                                                        <div class="toltip-content">
                                                            <p>Zoom In</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Shop Item -->
                                <div class="single-product-item col-lg-4 col-md-6 col-sm-12 text-center">
                                    <div class="img-holder">
                                        <img width="270" height="300" src="{{ asset('front-officeimages/resource/products/12.jpg')}}" class="" alt="">
                                    </div>
                                    <div class="title-holder text-center">
                                        <div class="static-content">
                                            <h3 class="title text-center"><a href="shop-single.html">Product 12</a></h3>
                                            <span class="price"><span class="amount"><span class="">$</span>90.00</span></span>
                                        </div>
                                        <div class="overlay-content">
                                            <ul class="clearfix">
                                                <li>
                                                    <a href="shop-single.html"><span class="flaticon-shopping-bag-3"></span>
                                                        <div class="toltip-content">
                                                            <p>Add to Cart</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="shop-single.html" class=""><span class="fa fa-heart"></span>
                                                        <div class="toltip-content">
                                                            <p>Add Whishlist</p>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="images/resource/products/1.jpg" class="lightbox-image" data-fancybox="shop-gallery"><span class="fa fa-expand"></span>
                                                        <div class="toltip-content">
                                                            <p>Zoom In</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                        <!-- Post Share Options -->
                        <div class="pagination-outer text-center">
                            <div class="styled-pagination text-center">
                                <ul class="clearfix">
                                    <li class="prev"><a href="#"><span class="fa fa-angle-double-left"></span> Prev</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li class="active"><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li class="next"><a href="#">Next <span class="fa fa-angle-double-right"></span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar sticky-top">

                        <!-- Search -->
                        <div class="sidebar-widget search-box">
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search....." required="">
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>

                        <!-- Categories Widget -->
                        <div class="sidebar-widget categories-widget">
                            <div class="sidebar-title">
                                <h4>Categories</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="blog-cat">
                                    <li><a href="#">FITNESS <span>( 24 )</span></a></li>
                                    <li><a href="#">HEALTH  <span>( 03 )</span></a></li>
                                    <li><a href="#">LIFESTYLE <span>( 01 )</span></a></li>
                                    <li><a href="#">NUTRITION <span>( 02 )</span></a></li>
                                    <li><a href="#">SPORT SCIENCE <span>( 10 )</span></a></li>
                                    <li><a href="#">TRAINING PROGRAM <span>( 02 )</span></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Categories Widget -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title">
                                <h4>Recent Post</h4>
                            </div>
                            <div class="widget-content">
                                <article class="post">
                                    <div class="post-inner">
                                        <figure class="post-thumb"><img src="{{ asset('https://via.placeholder.com/100x100')}}" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                        <div class="text"><a href="blog-single.html">Meal prep for a full week easy</a></div>
                                        <div class="post-info">19.9.2019</div>
                                    </div>
                                </article>
                                <article class="post">
                                    <div class="post-inner">
                                        <figure class="post-thumb"><img src="{{ asset('https://via.placeholder.com/100x100')}}" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                        <div class="text"><a href="blog-single.html">Off Season is finnish now what?</a></div>
                                        <div class="post-info">19.9.2019</div>
                                    </div>
                                </article>
                                <article class="post">
                                    <div class="post-inner">
                                        <figure class="post-thumb"><img src="{{ asset('https://via.placeholder.com/100x100')}}" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                        <div class="text"><a href="blog-single.html">Fitness helps you think &amp; Feel Better.</a></div>
                                        <div class="post-info">19.9.2019</div>
                                    </div>
                                </article>
                            </div>
                        </div>

                        <!-- Search -->
                        <div class="sidebar-widget newsletter-box">
                            <div class="sidebar-title">
                                <h4>GET NEWSLETTER</h4>
                            </div>
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Entery Email" required="">
                                    <button type="submit"><span class="icon flaticon-paper-plane-1"></span></button>
                                </div>
                            </form>
                        </div>

                        <!-- Popular Posts -->
                        <div class="sidebar-widget popular-tags">
                            <div class="sidebar-title">
                                <h4>TAGS</h4>
                            </div>
                            <div class="widget-content">
                                <a href="#">Fitness</a>
                                <a href="#">Health</a>
                                <a href="#">Lifestyle</a>
                                <a href="#">Nutrition</a>
                                <a href="#">Sport</a>
                                <a href="#">Science</a>
                                <a href="#">Training</a>
                                <a href="#">Program</a>
                            </div>
                        </div>

                    </aside>
                </div>

            </div>
        </div>
    </div>
    {{ include('front_office/footer.html.twig') }}
{% endblock %}