

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-12">
                    <div class="card-box table-responsive">
                        <h4 class="m-t-0 header-title">Gestion Des salles </h4>

                        <div>
                            {% for role in app.user.roles %}
                            {% if role == "ROLE_GERANT" %}

                            <a  style=" position:absolute;right:10%;top:1% ;" class="btn btn-icon waves-effect waves-light btn-success m-b-5" href="{{ path('addSalle') }}"> <i class="fa fa-plus dark"></i> </a>
                            {% endif %}
                            {% endfor %}
                        </div>

                        <table id="datatable" class="table table-bordered">
                            <thead>
                            <th>Nom</th>
                            <th>Adresse</th>
                            <th>Detail</th>

                            {% for role in app.user.roles %}
                            {% if role == "ROLE_GERANT" %}

                            <th>edit</th>
                            {% endif %}
                            {% endfor %}
                            <th>delete</th>
                            </thead>
                            <tbody>
                            {% for u in salle %}

                            <td>{{ u.nom }}</td>
                            <td>{{ u.adresse }}</td>
                            <td><a href="{{ path('detailsalle',{'id':u.id}) }}"><i class="fa fa-list" style="color:#0eac5c;font-size:20px"></i> </a> </td>


                            {# {% if u.date = format_datetime %}
                                <button class="btn btn-success rounded-circle-5">hd: 400</button>
                                <button class="btn btn-danger rounded-circle">hf: 400</button>


                                {% endif %}#}


                                {% for role in app.user.roles %}
                                {% if role == "ROLE_GERANT" %}
                            <td>

                                    <a type="button" href="{{ path('modifySalle', {'id': u.id, 'idU' : app.user.id}) }}" class="btn btn-primary btn-icon rounded-pill"><i class=" dripicons-document-edit"></i></a>
                            </td>
                                {% endif %}
                                {% endfor %}
                            <td>
                                <form method="post" action="{{ path('deleteSalle', {'id': u.id}) }}"  onsubmit="return confirm('Voulez vous supprimer cette salle ?')">
                                    <input type="hidden" name="_method" value="SUP">
                                    <input type="hidden" name="_token" value="{{u.id }}">
                                    <button type="submit" value="supprimer" class="btn btn-danger btn-icon  rounded-pill"><i class="  ti-trash"></i></button>
                                </form>
                            </td>
                            </tbody>

                            {% endfor %}

                        </table>
                        <div class="col-sm-12 col-md-7" >
                            <div class="dataTables_paginate paging_simple_numbers" id="datatable-buttons_paginate">
                                <div class="navigation" style="float:right;">
                                    {{ knp_pagination_render(salle) }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>