{% extends "base-front.html.twig" %}

{% block title %}
    Les salles!
{% endblock %}

{% block body %}
    {{ include('front_office/navbar.html.twig') }}
<section class="page-title" style="background-image:url(https://via.placeholder.com/1920x600)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h2>Nos salles de sport</h2>
                <div class="text">Fitness is not a destination it is a way of life.</div>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="{{ path('front_office') }}">home</a></li>
                    <li>Classes</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="classess-page-section">
    <div class="auto-container">
        <div class="row clearfix">
            {% for u in salle %}
            <!-- Classess Block -->
            <div class="classess-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image">
                        <a href="{{ path('detailFront', {'id': u.id}) }}"><img src="{{ asset('uploads/salle/'~u.image)}}"  }} alt=""></a>

                    </div>
                    <div class="lower-content">

                        <h4><a href="{{ path('detailFront', {'id': u.id}) }}">{{ u.nom }}</a></h4>
                        <br>
                        <a class="read-more" href="{{ path('detailFront', {'id': u.id}) }}">Plus de detail</a>
                    </div>
                </div>
            </div>
            {% endfor %}





        </div>
    </div>
</section>

    {{ include('front_office/footer.html.twig') }}
{% endblock %}