

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-12">
                    <div class="card-box table-responsive">
                        <h4 class="m-t-0 header-title">Gestion Des salles </h4>
                        <div>
                            <a  style=" position:absolute;right:10%;top:3% ;" class="btn btn-icon waves-effect waves-light btn-success m-b-5" href="{{ path('addSalle') }}"> <i class="fa fa-plus dark"></i> </a>
                        </div>
                        <table id="datatable" class="table table-bordered">
                            <thead>
                            <th>Nom</th>
                            <th>Adresse</th>
                            <th>Numero de Telephone</th>
                            <th>Adresse Mail</th>
                            <th>Description</th>
                            <th>Prix abonnement</th>
                            <th>Horaire d'ouverture</th>
                            <th>Horaire de fermeture</th>
                            <th>Image</th>


                            <th>edit</th>
                            <th>delete</th>
                            </thead>
                            <tbody>
                            {% for u in salle %}

                            <td>{{ u.nom }}</td>
                            <td>{{ u.adresse }}</td>
                            <td>{{ u.tel }}</td>
                            <td>{{ u.mail }}</td>
                            <td>{{ u.description }}</td>
                            <td>{{ u.prix }}</td>
                            <td>{{ u.heureo|date('H:i')}}</td>
                            <td>{{ u.heuref|date('H:i') }}</td>
                            <td><img src="{{ asset('uploads/salle/'~ u.image)  }}" alt="" width="50">
                            </td>


                                {# {% if u.date = format_datetime %}
                                <button class="btn btn-success rounded-circle-5">hd: 400</button>
                                <button class="btn btn-danger rounded-circle">hf: 400</button>


                                {% endif %}#}


                            <td>
                                <a type="button" href="{{ path('modifySalle', {'id': u.id}) }}" class="btn btn-primary btn-icon rounded-pill"><i class=" dripicons-document-edit"></i></a>
                            </td>
                            <td>
                                <form method="post" action="{{ path('deleteSalle', {'id': u.id}) }}"  onsubmit="return confirm('Voulez vous supprimer cette salle ?')">
                                    <input type="hidden" name="_method" value="SUP">
                                    <input type="hidden" name="_token" value="{{u.id }}">
                                    <button type="submit" value="supprimer" class="btn btn-danger btn-icon  rounded-pill"><i class="  ti-trash"></i></button>
                                </form>
                            </td>
                            </tbody>

                            {% endfor %}

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
