
{% extends "base-back.html.twig" %}

{% block title %}Hello SalleController!{% endblock %}

{% block body %}

    {{ include('Dashboard/navbar.html.twig') }}
    {{ include('Dashboard/leftsideBar.html.twig') }}

    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <a href="{{ path('salle') }}">
                    <i class="fa fa-arrow-circle-left" style="font-size: 30px;"></i>
                </a>
            </div>
            <div class="row" style="display: flex;align-items: center;justify-content: center">

                <div class="col-md-6 col-lg-3">

                    <div class="card m-b-20">
                        <img  src="{{ asset('uploads/salle/'~image)  }}">
                        <div class="card-body">
                            <h4 class="dropcap text-blue"> {{ nom }}</h4>

                            <p class="card-text">{{ description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">de   {{ heureo|date('H:i')}}  jusqu'a  {{  heuref|date('H:i') }}</li>


                        </ul>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> Pack BRONZE : {{ prix3 }} DT !</li>
                            <li class="list-group-item"> Pack SILVER : {{ prix2 }} DT !</li>
                            <li class="list-group-item"> Pack GOLD   : {{ prix1 }} DT !</li>





                        </ul>

                        <div class="card-body">

                            <a href="#" class="card-link">{{ mail }} </a>

                            <a href="#" class="card-link">{{ tel }} </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

