<!-- Main Footer -->
<footer class="main-footer" style="background-image:url(https://via.placeholder.com/1920x650)">
    <div class="auto-container">
        <!-- Widgets Section -->
        <div class="widgets-section">
            <div class="row clearfix">

                <!-- Big Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="logo">
                                    <a href=""><img src="{{ asset('email/image-8.jpeg') }}" alt="" width="50" /></a>
                                </div>
                                <div class="text">ENERGYM is a champ in providing its users with absolutely everything a fitness or gym site needs. JOIN US!.</div>
                                <div class="social-links">
                                    <span>Follow on Socials </span>
                                    <a href="https://www.facebook.com/Energym-102546619016908" class="fa fa-facebook"></a>
                                    <a href="https://www.facebook.com/Energym-102546619016908" class="fa fa-twitter"></a>
                                    <a href="https://www.facebook.com/Energym-102546619016908" class="fa fa-instagram"></a>
                                    <a href="https://www.facebook.com/Energym-102546619016908" class="fa fa-linkedin"></a>
                                </div>
                            </div>
                        </div>

                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h4>LIENS UTILES</h4>
                                <ul class="list-link">
                                    <li><a href="{{ path('salleFront') }}">Salle</a></li>
                                    <li><a href="{{ path('shop') }}">Shop</a></li>
                                    <li><a href="{{ path('EvenementFront') }}">Events</a></li>
                                    <li><a href="{{ path('article_client_index') }}">Blog</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column -->


                    </div>
                </div>

                <!-- Big Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h4>Our Services</h4>
                                <ul class="list-link">
                                    <li><a href="">Organise Salle de sport</a></li>
                                    <li><a href="">Responsive admin Dashboard</a></li>
                                    <li><a href="">Product Shop</a></li>
                                    <li><a href="">Organising events</a></li>
                                    <li><a href="">Blog Personal</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget timing-widget">
                                <h4>Working Hours</h4>
                                <ul>
                                    <li>Monday – Friday:<span>07:00 – 21:00</span></li>
                                    <li>Saturday:<span>07:00 – 16:00</span></li>
                                    <li>Sunday Closed</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="copyright">Copyright 2020 Theme by expertthemes</div>
        </div>

    </div>
</footer>
</div>
<!--End pagewrapper-->

<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-gear"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Your Color</h6>
    </div>

    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>
            <span class="palate green-color" data-theme-file="css/color-themes/green-theme.css"></span>
            <span class="palate olive-color" data-theme-file="css/color-themes/olive-theme.css"></span>
            <span class="palate orange-color" data-theme-file="css/color-themes/orange-theme.css"></span>
            <span class="palate purple-color" data-theme-file="css/color-themes/purple-theme.css"></span>
            <span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>
            <span class="palate brown-color" data-theme-file="css/color-themes/brown-theme.css"></span>
            <span class="palate redd-color" data-theme-file="css/color-themes/redd-color.css"></span>
        </div>
    </div>

    <h5>Other Options</h5>
    <ul class="rtl-version option-box"> <li class="rtl">RTL Version</li> <li>LTR Version</li> </ul>

    <a href="#" class="purchase-btn">Purchase now $17</a>

    <div class="palate-foo">
        <span>You will find much more options for colors and styling in admin panel. This color picker is used only for demonstation purposes.</span>
    </div>
</div>

<!-- Search Popup -->
