<section class="main-slider">

    <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery" style="overflow: visible; height: 850px;">
        <div class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive rev_redraw_on_blurfocus" id="rev_slider_one" data-version="5.4.1" data-slideactive="rs-1688" style="margin-top: 0px; margin-bottom: 0px; height: 850px;">
            <ul class="tp-revslider-mainul" style="visibility: visible; display: block; overflow: hidden; width: 1519px; height: 100%; max-height: none; left: 0px;">

                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="https://via.placeholder.com/1920x1000" data-title="Slide Title" data-transition="parallaxvertical" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1; background-color: rgba(255, 255, 255, 0);">
          {# image front #}          <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"> <img alt="" class="rev-slidebg defaultimg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{{ asset('email/1920.jpg') }}">--><div class="tp-dottedoverlay yes"></div><div class="tp-bgimg defaultimg " data-bgcolor="undefined" style="background-repeat: no-repeat; background-image: url(&quot;https://via.placeholder.com/1920x1000&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="https://via.placeholder.com/1920x1000"></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 650px; top: 290px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0);"><div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="shape" data-height="auto" data-whitespace="nowrap" data-width="['660','1000','750','550']" data-hoffset="['50','15','15','15']" data-voffset="['65','65','65','65']" data-x="['right','left','left','left']" data-y="['middle','middle','middle','middle']" data-frames="[{&quot;from&quot;:&quot;x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" id="layer-667930461" style="visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 660px; max-height: none; max-width: 660px; opacity: 1; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
                                    <div class="border-curve" style="transition: none 0s ease 0s; text-align: inherit; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px;"></div>
                                </div></div></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 685px; top: 338px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0);"><div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="shape" data-height="auto" data-whitespace="nowrap" data-width="['660','1000','750','550']" data-hoffset="['15','15','15','15']" data-voffset="['-70','-70','-130','-130']" data-x="['right','left','left','left']" data-y="['middle','middle','middle','middle']" data-frames="[{&quot;from&quot;:&quot;x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" id="layer-633787367" style="visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 660px; max-height: none; max-width: 660px; opacity: 1; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
                                    <div class="title" style="transition: none 0s ease 0s; text-align: inherit; line-height: 33px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 24px;">The mind is primary</div>
                                </div></div></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 685px; top: 384px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0);"><div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['660','1000','750','550']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['10','10','-40','-60']" data-x="['right','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames="[{&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" id="layer-852740862" style="visibility: inherit; transition: none 0s ease 0s; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: normal; min-height: 0px; min-width: 660px; max-height: none; max-width: 660px; opacity: 1; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
                                    <h1>ENERGYM</h1>
                                </div></div></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 685px; top: 493px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0);"><div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['660','1000','750','550']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['95','95','55','20']" data-x="['right','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames="[{&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" id="layer-406073108" style="visibility: inherit; transition: none 0s ease 0s; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: normal; min-height: 0px; min-width: 660px; max-height: none; max-width: 660px; opacity: 1; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
                                    <div class="text">wake up. it’s time to change</div>
                                </div></div></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: visible; left: 685px; top: 567px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0);"><div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['660','1000','750','550']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['180','180','150','110']" data-x="['right','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames="[{&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" id="layer-566119691" style="visibility: inherit; transition: none 0s ease 0s; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: normal; min-height: 0px; min-width: 660px; max-height: none; max-width: 660px; opacity: 1; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);">
                                    <div class="btns-box">
                                        <div class="btn-one-outer"><a href="#" class="theme-btn btn-style-one"><span class="txt">Join Us Now</span></a></div>
                                    </div>
                                </div></div></div></div>

                </li>

                <li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="https://via.placeholder.com/1920x1000" data-title="Slide Title" data-transition="parallaxvertical" class="tp-revslider-slidesli" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; background-color: rgba(255, 255, 255, 0);">
                    <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"> <img src="{{ asset('email/1920.jpg') }}" alt="" class="rev-slidebg defaultimg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="https://via.placeholder.com/1920x1000">--><div class="tp-dottedoverlay yes"></div><div class="tp-bgimg defaultimg " data-bgcolor="undefined" style="background-repeat: no-repeat; background-image: url(&quot;https://via.placeholder.com/1920x1000&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 0; visibility: hidden; z-index: 20;" src="https://via.placeholder.com/1920x1000"></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; left: 650px; top: 290px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0);"><div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="shape" data-height="auto" data-whitespace="nowrap" data-width="['660','1000','750','550']" data-hoffset="['50','15','15','15']" data-voffset="['65','65','65','65']" data-x="['right','left','left','left']" data-y="['middle','middle','middle','middle']" data-frames="[{&quot;from&quot;:&quot;x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" id="layer-728779232" style="visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 660px; max-height: none; max-width: 660px; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 662, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                    <div class="border-curve" style="transition: none 0s ease 0s; text-align: inherit; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px;"></div>
                                </div></div></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; left: 685px; top: 338px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0);"><div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="shape" data-height="auto" data-whitespace="nowrap" data-width="['660','1000','750','550']" data-hoffset="['15','15','15','15']" data-voffset="['-70','-70','-130','-130']" data-x="['right','left','left','left']" data-y="['middle','middle','middle','middle']" data-frames="[{&quot;from&quot;:&quot;x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" id="layer-654627627" style="visibility: inherit; transition: none 0s ease 0s; text-align: inherit; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: nowrap; min-height: 0px; min-width: 660px; max-height: none; max-width: 660px; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 662, 0, 0, 1); transform-origin: 50% 50% 0px;">
                                    <div class="title" style="transition: none 0s ease 0s; text-align: inherit; line-height: 33px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 24px;">The mind is primary</div>
                                </div></div></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; left: 685px; top: 384px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0);"><div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['660','1000','750','550']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['10','10','-40','-60']" data-x="['right','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames="[{&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" id="layer-992041692" style="visibility: inherit; transition: none 0s ease 0s; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: normal; min-height: 0px; min-width: 660px; max-height: none; max-width: 660px; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -103, 0, 1); transform-origin: 50% 50% 0px;">
                                    <h1>Fitness Club</h1>
                                </div></div></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; left: 685px; top: 493px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0);"><div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['660','1000','750','550']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['95','95','55','20']" data-x="['right','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames="[{&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" id="layer-165948443" style="visibility: inherit; transition: none 0s ease 0s; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: normal; min-height: 0px; min-width: 660px; max-height: none; max-width: 660px; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 56, 0, 1); transform-origin: 50% 50% 0px;">
                                    <div class="text">wake up. it’s time to change</div>
                                </div></div></div></div>

                    <div class="tp-parallax-wrap" style="position: absolute; display: block; visibility: hidden; left: 685px; top: 567px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;display:block;;"><div class="tp-mask-wrap" style="position: absolute; display: block; overflow: hidden; transform: matrix(1, 0, 0, 1, 0, 0);"><div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['660','1000','750','550']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['180','180','150','110']" data-x="['right','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames="[{&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1000,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;mask&quot;:&quot;x:0;y:0;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" id="layer-441890198" style="visibility: inherit; transition: none 0s ease 0s; line-height: 23px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 14px; white-space: normal; min-height: 0px; min-width: 660px; max-height: none; max-width: 660px; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 78, 0, 1); transform-origin: 50% 50% 0px;">
                                    <div class="btns-box">
                                        <div class="btn-one-outer"><a href="#" class="theme-btn btn-style-one"><span class="txt">Join Us Now</span></a></div>
                                    </div>
                                </div></div></div></div>

                </li>

            </ul>
    </div>
    </div>

</section>
<section class="services-section">
    <div class="side-text">GYM</div>
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Service Block -->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon flaticon-tools-and-utensils"></span>
                    </div>
                    <h4><a >Progression</a></h4>
                    <div class="text">The point of using ENERGYM is that it has THE motive to give the better shape in less time.</div>
                    <span class="big-icon flaticon-tools-and-utensils"></span>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block style-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon flaticon-sports"></span>
                    </div>
                    <h4><a >Workout</a></h4>
                    <div class="text">The point of using ENERGYM IS that it organize your schedule</div>
                    <span class="big-icon flaticon-sports"></span>
                </div>
            </div>

            <!-- Service Block -->
            <div class="service-block style-three col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="icon flaticon-plan"></span>
                    </div>
                    <h4><a >Nutrition</a></h4>
                    <div class="text">ENERGYM Provide you with its products and free delivery </div>
                    <span class="big-icon flaticon-plan"></span>
                </div>
            </div>

        </div>
    </div>
</section>



{# lenna partie omar  #}
<section class="calculate-section">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Form Column -->
            <div class="form-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <div class="title">INDICE DE MASSE CORPORELLE</div>
                        <h2>QUEL EST TON
                            <br>IMC</h2>
                    </div>

                    <!-- Default Form -->
                    <div class="default-form">

                        <!-- Default Form -->
                        <form method="post" >
                            <div class="row clearfix">

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="text" name="h" placeholder="Taille / CM" required>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="text" name="w" placeholder="Poids / KG" required>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <input type="text" name="a" placeholder="Age" required>
                                </div>

                                <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                    <select  name="s" class="custom-select-box">
                                        <option>Sexe</option>
                                        <option value="m">Homme</option>
                                        <option value="w">Femme</option>
                                    </select>

                                </div>

                                <div class="row">
                                <div class="form-group col-lg-16 col-md-16 col-sm-16">
                                    <div class="btn-two-outer"><button class="theme-btn btn-style-two" type="submit" name="submit-form"><span class="txt" style="color: white" >Calculer</span></button></div>


                                </div>
                                    <div class="form-group col-lg-16 col-md-16 col-sm-16">

                                    <div class="btn-two-outer"><a  href="{{ path('ImprimerEXCEL')}}" class="theme-btn btn-style-two" type="submit" name="submit-form"><span class="txt">Courbe excel</span></a></div>

                                </div>
                                </div>


                            </div>

                        </form>

                        <!--End Default Form -->
                    </div>

                </div>
            </div>

            <!-- Info Column -->
            <div class="info-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">

                    <div class="table-outer">
                        <div class="table-boxed">
                            {% if response|length==1 %}
                                <div class="table-content">
                                    <!-- Title -->
                                    <div class="title clearfix">
                                        <div class="col">IMC</div>
                                        <div class="col">ETAT DU POIDS</div>
                                    </div>
                                    <br>
                                    <ul>
                                        <li class="clearfix"><span>moins que 18.5</span>Maigre</li>
                                        <li class="clearfix"><span>18.5-24.9</span>Healthy</li>
                                        <li class="clearfix"><span>25.0-29.9</span>En Surpoids</li>
                                        <li class="clearfix"><span>30.0 et plus</span>Obèse</li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>

                        {% if response|length>2 %}
                            <div class="info-list">

                                <div class="table-name"><span>IMC</span> - {{ response['bmi']['value'] }}</div>
                            </div>
                            <div class="info-list">

                                <div class="table-name"><span>poids ideal</span> - {{ response['ideal_weight'] }}</div>
                            </div>
                            <div class="info-list">

                                <div class="table-name"><span>Risque</span> - {{ response['bmi']['risk'] }}</div>
                            </div>
                            <div class="info-list">

                                <div class="table-name"><span>statut</span> -   {{ response['bmi']['status'] }}</div>
                            </div>
                        {% endif %}

                    </div>

                </div>

            </div>




        </div>

    </div>

</section>
{# lena partie malak  #}

<section class="news-section">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            <div class="title">Our Blog &amp; Artical</div>
            <h2>Latest News <br> Posts</h2>
        </div>

        <div class="row clearfix">

            <!-- News Block -->
            {% for article in articles|slice(articles|length-3,articles|length)|reverse %}
            <div class="news-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                    <div class="image">
                        <a ><img src="{{ asset('uploads/posts/' ~ article.image) }}" alt=""></a>
                        <div class="post-date">21<span>JUN</span></div>
                    </div>
                    <div class="lower-content">
                        <h4><a >{{ article.titre }}</a></h4>
                        <div class="text">{{ article.dateCreation }} </div>
                        <div class="btn-three-outer"><a href="{{ path('article_client_show', {'id': article.id}) }}" class="theme-btn btn-style-three"><span class="txt">Read More</span></a></div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>

    </div>
</section>
<br>
<div class="sec-title centered">
    <div class="title">ENERGYM</div>
    <h2 style="color: red"> La plateforme </h2> <h2>n1 en tunisie</h2>
</div>
<style>
    /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
    #map {
        height: 60%;

        margin: auto;
        width: 80%;
        border: 5px solid #ff0000;
        padding: 10px;

    }



</style>

<script>


    function initMap() {
        const myLatLng = { lat: 34.741
            , lng: 	10.7648 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 3,
            center: myLatLng,
        });
        //var dest_from_controller =  list_dest|json_encode()
        console.log() ;



        var locations = [
            ['tunisia', 34.741,10.7648],


        ];

        console.log(locations.length);


        var marker, i;

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map ,
                title: "Hello World!",
            });
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }

        /*new google.maps.Marker({
            position: myLatLng,
            map,
            title: "Hello World!",
        });*/
    }
</script>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCy-3c-b-RYk0dabw2v-u5n21yr3jyncz8&callback=initMap&v=weekly" async></script>
<div id="map"></div>

</div>
<br>
<br>
<br>
<script type="text/javascript">
    function handleSelect(elm)
    {
        window.location = "http://127.0.0.1:8000/salleTries";
    }
</script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/6226bfea1ffac05b1d7d7543/1ftjlrbpb';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->