<header class="main-header header-style-one">

    <!-- Header Top -->
    <div class="header-top">
        <div class="outer-container">
            <div class="clearfix">

                <!-- Top Left -->
                <div class="top-left pull-left">
                    <div class="text">Welcome to ENER GYM Fitness</div>
                </div>

                <!-- Top Right -->
                <div class="top-right pull-right">

                    <!-- Info List -->
                    <ul class="info-list">
                        <li><span class="icon fa fa-location-arrow"></span> Today in Tunis, the sky will remain changeable</li>
                        <li><span class="icon fa fa-phone"></span> <a href="tel:+1-044-123-456-789"> +216 95590010</a></li>
                        <li><span class="icon fa fa-envelope-o"></span> <a href="mailto:info@example.com"> Energym@gmail.com</a></li>
                    </ul>

                    <!--Language-->
                    <div class="language dropdown"><a class="btn btn-default dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#"><span class="flag-icon fa fa-globe"></span>EN &nbsp;<span class="icon fa fa-angle-down"></span></a>
                        <ul class="dropdown-menu style-one" aria-labelledby="dropdownMenu2">
                            <li><a href="#">English</a></li>
                            <li><a href="#">German</a></li>
                            <li><a href="#">Arabic</a></li>
                            <li><a href="#">Hindi</a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- Header Upper -->
    <div class="header-upper">
        <div class="outer-container clearfix">

            <div class="pull-left logo-box">
                <div class="logo"><a ><img src="{{ asset('email/image-8.jpeg') }}" alt="" width="100" title=""></a></div>
            </div>

            <div class="nav-outer clearfix">
                <!--Mobile Navigation Toggler-->
                <div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md">
                    <div class="navbar-header">
                        <!-- Toggle Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                        <ul class="navigation clearfix">

                            <li class="current dropdown" ><a  href="{{ path('front_office') }}">Home</a>

                            <li class="dropdown"><a href="{{ path('salleFront') }}">salle</a>
                            <li class="dropdown"><a href="{{ path('shop') }}">Shop</a>


                            <li class="dropdown"><a href="{{ path('EvenementFront') }}">evenement</a>
                            <li class="dropdown"><a  href="{{ path('article_client_index') }}" >Blog</a>
                                {% if app.user %}
                            <li><a href="{{ path('app_logout') }}">DeConnect</a></li>
                            {% else %}
                                <li><a href="{{ path('app_login') }}">Connect</a></li>
                            {% endif %}
                                    {% if app.user  %}
                            <li class="current dropdown"><a href="#">Also</a>
                                <ul>
                                    <li><a href="{{ path('reclamationFront') }}">Reclamation</a></li>

                                        <li><a  href="{{ path('modifyUserFront', {'id': app.user.id}) }}">Edit Profile</a></li>
                                    {% endif %}

                                    {% if app.user  %}
                                        {% for role in app.user.roles %}
                                            {% if role != "ROLE_USER" %}
                                                <li><a href="{{ path('dashboard') }}">dashboard</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <div class="dropdown-btn"><span class="fa fa-angle-down"></span></div></li>
                                </ul>
                        </ul>
                    </div>
                </nav>

                <!-- Main Menu End-->
                <div class="outer-box clearfix">

                    <!-- Cart Box -->
                    <div class="cart-box">
                        <div class="dropdown">
                            <a href="{{ path('panier') }}" class="cart-box-btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a href="{{ path('panier') }}" class="flaticon-shopping-bag-1"></a><span class="total-cart"></span></a>

                        </div>

                        <!-- Nav Btn -->

                    </div>
                </div>

            </div>
        </div>
        <!--End Header Upper-->

        <!-- Sticky Header  -->

        <!-- Mobile Menu  -->
    </div>
</header>