{% extends "base-back.html.twig" %}




{% block title %}Participation!{% endblock %}


{% block body %}

    {{ include('Dashboard/navbar.html.twig') }}
    {{ include('Dashboard/leftsideBar.html.twig') }}


    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">


                </div>
                <div class="row" style="display: flex;align-items: center;justify-content: center">
                    <div class="col-lg-6">
                        <div class="card-box">
                            <div class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                                </div>
                            </div>
                            <h4 class="m-t-0 header-title">Les Participations</h4>

                            <table class="table">
                                <thead class="thead-light">
                                <tr>

                                    <th> Nom de l'événement</th>
                                    <th>Nom du participant  </th>
                                    <th>Email du participant</th>
                                    <th>Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for P in Participation %}
                                    <tr>


                                        <td>{{ P.idEvent.NomEvent }}</td>
                                        <td>{{ P.idUser.nom}}</td>
                                        <td>{{ P.idUser.email }}</td>
                                     {#}   <td><a href="{{ path('SupprimerEvent',{'id':e.id}) }}"><i class="fa fa-trash" style="color:#ff5b5b;font-size:20px"></i> </a> </td>{#}


                                    </tr>

                                {% endfor %}


                                </tbody>
                            </table>



                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>


{% endblock %}
