{% extends "base-front.html.twig" %}

{% block title %}
    Evenement!
{% endblock %}

{% block body %}
    {{ render(path('temp', {max: 3})) }}

    <section class="page-title"
             style="background-image:url(https://via.placeholder.com/1920x600)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Latest EVENTS</h2>
                    <div class="text">Fitness is not a destination it is a way of
                        life.</div>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">home</a></li>
                        <li>Event</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <!-- Blog Classic -->
                    <div class="blog-classic">
                        {% for e in Evenement %}

                            {% if e.NbrParticipantsEvent ==0 %}
                                <div class="ribbon ribbon-top-left"><span>Complet</span></div>
                            {% endif %}
                            <!-- News Block Three -->
                            <div class="news-block-three">

                                <div class="inner-box">
                                    <div class="image" style="background-color:
                                transparent">

                                        <img class="card-img-top img-fluid" src="{{
                                        asset('uploads/Event_image/' )~e.image }}"
                                             alt="Card image cap">

                                    </div>
                                    <div class="lower-content">
                                        <ul class="post-meta">
                                            <li><span class="icon flaticon-map"></span>
                                                {{ e.LieuEvent }}</li>
                                            {% if e.NbrParticipantsEvent >0 %}
                                                <li><span class="icon flaticon-user-1"></span>
                                                    {{ e.NbrParticipantsEvent }}
                                                </li>
                                            {% endif %}
                                            <li><span class="icon flaticon-comment-1"></span>
                                                {% set difference =
                                                    date(e.DateEvent).diff(date(
                                                        date().timestamp)) %}
                                                {% set leftDays = difference.days %}
                                                {% if leftDays == 1 %}
                                                    1 day
                                                {% else %}
                                                    {{ leftDays }} days
                                                {% endif %}</li>



                                            <li><span class="icon flaticon-calendar-1"></span>
                                                {{ e.DateEvent | date('Y-m-d') }}</li>
                                        </ul>
                                        <h3><a href="blog-single.html">{{ e.NomEvent }}</a></h3>
                                        <div class="text">{{ e.DescriptionEvent }}</div>
                                        <a class="read-more" href="{{
                                        path('detailFrontEvent',{'id':e.id}) }}">Read
                                            More</a>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                        <!-- Post Share Options -->
                        <div class="pagination-outer text-center">
                            <div class="styled-pagination text-center">
                                <ul class="clearfix">
                                    <li class="prev"><a href="#"><span class="fa
                                            fa-angle-double-left"></span> Prev</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li class="active"><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li class="next"><a href="#">Next <span
                                                    class="fa fa-angle-double-right"></span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar sticky-top">

                        <!-- Search -->
                        <div class="sidebar-widget search-box">
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <input type="search" name="search-field"
                                           value="" placeholder="Search....." required>
                                    <button type="submit"><span class="icon fa
                                        fa-search"></span></button>
                                </div>
                            </form>
                        </div>

                        <!-- Categories Widget -->
                        <div class="sidebar-widget categories-widget">
                            <div class="sidebar-title">
                                <h4>Categories</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="blog-cat">
                                    {% for c in CategoriesEvent %}
                                        <li><a href="{{ path('ShowEvents',{'id':c.id})
                                            }}">{{ c.nomCategorie}} </a></li>
                                    {% endfor %}
                                    {#} <li><a href="#">HEALTH <span>( 03 )</span></a></li>
                                {#}

                                </ul>
                            </div>
                        </div>

                        <!-- Categories Widget -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title">
                                <h4>Coming Soon</h4>

                            </div>
                            {% for r in recent %}

                                <div class="widget-content">
                                    <article class="post">
                                        <div class="post-inner">
                                            <figure class="post-thumb"><img src="{{
                                                asset('uploads/Event_image/'
                                                )~r.image }}" alt=""><a href="{{
                                                path('detailFrontEvent',{'id':r.id})
                                                }}" class="overlay-box"><span
                                                            class="icon fa fa-link"></span></a></figure>
                                            <div class="text"><a href="{{
                                                path('detailFrontEvent',{'id':r.id})
                                                }}">{{ r.NomEvent }}</a></div>
                                            <div class="post-info">{{ r.DateEvent |
                                                date('Y-m-d')}}</div>

                                        </div>

                                    </article>

                                </div>
                            {% endfor %}

                            <!-- Search -->


                            <!-- Popular Posts -->

                        </div>
                    </aside>
                </div>

            </div>
        </div>
    </div>
    <style>
        .ribbon {
            width: 150px;
            height: 150px;
            overflow: hidden;
            position: absolute;
            z-index: 10;

        }
        .ribbon::before,
        .ribbon::after {
            position: absolute;
            z-index: -1;
            content: '';
            display: block;
            border: 5px solid #ff0014;
        }
        .ribbon span {
            position: absolute;
            display: block;
            width: 225px;
            padding: 15px 0;
            background-color: #ff0000;
            box-shadow: 0 5px 10px rgba(0,0,0,.1);
            color: #fff;
            font: 700 18px/1 'Lato', sans-serif;
            text-shadow: 0 1px 1px rgba(0,0,0,.2);
            text-transform: uppercase;
            text-align: center;
        }

        /* top left*/
        .ribbon-top-left {
            top: -10px;
            left: -10px;
        }
        .ribbon-top-left::before,
        .ribbon-top-left::after {
            border-top-color: transparent;
            border-left-color: transparent;
        }
        .ribbon-top-left::before {
            top: 0;
            right: 0;
        }
        .ribbon-top-left::after {
            bottom: 0;
            left: 0;
        }
        .ribbon-top-left span {
            right: -25px;
            top: 30px;
            transform: rotate(-45deg);
        }

        /* top right*/
        .ribbon-top-right {
            top: -10px;
            right: -10px;
        }
        .ribbon-top-right::before,
        .ribbon-top-right::after {
            border-top-color: transparent;
            border-right-color: transparent;
        }
        .ribbon-top-right::before {
            top: 0;
            left: 0;
        }
        .ribbon-top-right::after {
            bottom: 0;
            right: 0;
        }
        .ribbon-top-right span {
            left: -25px;
            top: 30px;
            transform: rotate(45deg);
        }

        /* bottom left*/
        .ribbon-bottom-left {
            bottom: -10px;
            left: -10px;
        }
        .ribbon-bottom-left::before,
        .ribbon-bottom-left::after {
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
        .ribbon-bottom-left::before {
            bottom: 0;
            right: 0;
        }
        .ribbon-bottom-left::after {
            top: 0;
            left: 0;
        }
        .ribbon-bottom-left span {
            right: -25px;
            bottom: 30px;
            transform: rotate(225deg);
        }

        /* bottom right*/
        .ribbon-bottom-right {
            bottom: -10px;
            right: -10px;
        }
        .ribbon-bottom-right::before,
        .ribbon-bottom-right::after {
            border-bottom-color: transparent;
            border-right-color: transparent;
        }
        .ribbon-bottom-right::before {
            bottom: 0;
            left: 0;
        }
        .ribbon-bottom-right::after {
            top: 0;
            right: 0;
        }
        .ribbon-bottom-right span {
            left: -25px;
            bottom: 30px;
            transform: rotate(-225deg);
        }
    </style>
    <!-- Subscribe Section -->
    {{ include('front_office/footer.html.twig') }}
{% endblock %}