{% extends "base-front.html.twig" %}

{% block title %}
    Evenement!
{% endblock %}

{% block body %}
    {{ include('front_office/navbar.html.twig') }}
    <section class="page-title" style="background-image:url(https://via.placeholder.com/1920x600)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Latest News</h2>
                    <div class="text">Fitness is not a destination it is a way of life.</div>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">home</a></li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <!-- Blog Classic -->
                    <div class="blog-classic">

                        <!-- News Block Three -->
                        {% for e in Evenement %}
                            <div class="news-block-three">

                                <div class="inner-box" >

                                    <div class="image"  style="background-color: transparent " >
                                        {% if  e.NbrParticipantsEvent ==0  %}
                                        <span class="badge badge-danger pull-right"  >Complet</span>
                                        {% endif %}
                                        <img class="card-img-top img-fluid" src="{{ asset('uploads/Event_image/' )~e.image  }}" alt="Card image cap" >

                                    </div>
                                    <div class="lower-content">
                                        <ul class="post-meta">
                                            <li><span class="icon flaticon-map"></span> {{ e.LieuEvent }}</li>
                                            {% if  e.NbrParticipantsEvent >0  %}
                                            <li><span class="icon flaticon-user-1"></span>
                                                {{ e.NbrParticipantsEvent }}
                                            </li>
                                            {% endif %}
                                            <li><span class="icon flaticon-calendar-1"></span> {{ e.DateEvent | date('Y-m-d')}}</li>
                                        </ul>
                                        <h3><a href="blog-single.html">{{ e.NomEvent }}</a></h3>
                                        <div class="text">{{ e.DescriptionEvent }}</div>
                                        <a class="read-more" href="{{ path('detailFrontEvent',{'id':e.id}) }}">Read More</a>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                        <!-- Post Share Options -->
                        <div class="pagination-outer text-center">
                            <div class="styled-pagination text-center">
                                <ul class="clearfix">
                                    <li class="prev"><a href="#"><span class="fa fa-angle-double-left"></span> Prev</a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li class="active"><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li class="next"><a href="#">Next <span class="fa fa-angle-double-right"></span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar sticky-top">

                        <!-- Search -->
                        <div class="sidebar-widget search-box">
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search....." required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>

                        <!-- Categories Widget -->
                        <div class="sidebar-widget categories-widget">
                            <div class="sidebar-title">
                                <h4>Categories</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="blog-cat">
                                    {% for c in CategoriesEvent %}
                                        <li><a href="{{ path('ShowEvents',{'id':c.id}) }}">{{ c.nomCategorie}} </a></li>
                                    {% endfor %}
                                    {#} <li><a href="#">HEALTH  <span>( 03 )</span></a></li> {#}

                                </ul>
                            </div>
                        </div>

                        <!-- Categories Widget -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title">
                                <h4>Coming Soon</h4>

                            </div>
                            {% for r in recent %}

                                <div class="widget-content">
                                    <article class="post">
                                        <div class="post-inner">
                                            <figure class="post-thumb"><img src="{{ asset('uploads/Event_image/' )~r.image  }}" alt=""><a href="{{ path('detailFrontEvent',{'id':r.id}) }}" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                            <div class="text"><a href="{{ path('detailFrontEvent',{'id':r.id}) }}">{{ r.NomEvent }}</a></div>
                                            <div class="post-info">{{ r.DateEvent | date('Y-m-d')}}</div>

                                        </div>

                                    </article>

                                </div>
                            {% endfor %}

                            <!-- Search -->
                            <div class="sidebar-widget newsletter-box">
                                <div class="sidebar-title">
                                    <h4>GET NEWSLETTER</h4>
                                </div>
                                <form method="post" action="contact.html">
                                    <div class="form-group">
                                        <input type="search" name="search-field" value="" placeholder="Entery Email" required>
                                        <button type="submit"><span class="icon flaticon-paper-plane-1"></span></button>
                                    </div>
                                </form>
                            </div>

                            <!-- Popular Posts -->

                    </aside>
                </div>

            </div>
        </div>
    </div>

    <!-- Subscribe Section -->
    {{ include('front_office/footer.html.twig') }}
{% endblock %}