{% extends "base-front.html.twig" %}

{% block title %}
    Evenement !
{% endblock %}

{% block body %}
    {{ render(path('temp', {max: 3})) }}

    <section class="page-title" style="background-image:url(https://via.placeholder.com/1920x600)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Latest News</h2>
                    <div class="text">Fitness is not a destination it is a way of life.</div>
                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="{{ path('front_office') }}">home</a></li>
                        <li>Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="sidebar-page-container style-two">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar sticky-top">

                        <!-- Search -->
                        <div class="sidebar-widget categories-widget">
                            <div class="sidebar-title">
                                <h4>Categories</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="blog-cat">
                                    {% for c in CategoriesEvent %}
                                        <li><a href="{{ path('ShowEvents',{'id':c.id}) }}">{{ c.nomCategorie}} </a></li>
                                    {% endfor %}
                                    {#} <li><a href="#">HEALTH  <span>( 03 )</span></a></li> {#}

                                </ul>
                            </div>
                        </div>

                        <!-- Categories Widget -->
                        <div class="sidebar-widget popular-posts">
                            <div class="sidebar-title">
                                <h4>Coming Soon</h4>

                            </div>
                            {% for r in recent %}

                                <div class="widget-content">
                                    <article class="post">
                                        <div class="post-inner">
                                            <figure class="post-thumb"><img src="{{ asset('uploads/Event_image/' )~r.image  }}" alt=""><a href="{{ path('detailFrontEvent',{'id':r.id}) }}" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                            <div class="text"><a href="{{ path('detailFrontEvent',{'id':r.id}) }}">{{ r.NomEvent }}</a></div>
                                            <div class="post-info">{{ r.DateEvent | date('Y-m-d')}}</div>

                                        </div>

                                    </article>

                                </div>
                            {% endfor %}

                </div>
                    </aside>
                </div>

                <!--Content Side-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <!-- Blog Single -->
                    <div class="blog-single">
                        <div class="inner-box">
                            <div class="image">
                                <img class="card-img-top img-fluid" src="{{ asset('uploads/Event_image/'~image ) }}" alt="Card image cap">
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><span class="icon flaticon-folder"></span> {{ LieuEvent }}</li>
                                    <li><span class="icon flaticon-user-1"></span> {{ NbrParticipantsEvent }}</li>
                                    <li><span class="icon flaticon-calendar-1"></span>{{ DateEvent| date('Y-m-d') }}</li>
                                </ul>
                                <h3>{{ NomEvent }}</h3>
                             {#    <h3>{{ temp }}</h3>#}
                                <p> {{ DescriptionEvent }}</p>
                                <div class="two-column">
                                    <div class="row clearfix">


                                    </div>
                                </div>

                                {% for message in app.flashes('error') %}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                    <div class="form-group clearfix col-lg-12 col-md-12 col-sm-12">

                                        <blockquote>   {% if Etat!="Complet" %}
                                                <div class="btn-three-outer"><a href="{{ path('ParticiperEvent', {'id': id}) }}" class="theme-btn btn-style-three" type="submit" name="submit-form"><span class="txt">Participat Now</span></a></div>

                                            {% endif %}

                                        </blockquote>
                                    </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>
    {{ include('front_office/footer.html.twig') }}
{% endblock %}