{% extends "base-front.html.twig" %}

{% block title %}
    Hello HomeController!
{% endblock %}

{% block body %}
    {{ include('front_office/navbar.html.twig') }}
<section class="page-title" style="background-image:url(https://via.placeholder.com/1920x600)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h2>Latest News</h2>
                <div class="text">Fitness is not a destination it is a way of life.</div>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="index.html">home</a></li>
                    <li>Blog</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <!-- Blog Classic -->
                <div class="blog-classic">

                    <!-- News Block Three -->
                    {% for e in Evenement %}
                    <div class="news-block-three">
                        <div class="inner-box">

                            <div class="image">
                                <a href="blog-single.html"><img src="Dashboard/images/gallery/4.jpg/770x420" alt="" /></a>
                            </div>
                            <div class="lower-content">
                                <ul class="post-meta">
                                    <li><span class="icon flaticon-map"></span> {{ e.LieuEvent }}</li>
                                    <li><span class="icon flaticon-user-1"></span>  {{ e.NbrParticipantsEvent }}</li>
                                    <li><span class="icon flaticon-calendar-1"></span> {{ e.DateEvent | date('Y-m-d')}}</li>
                                </ul>
                                <h3><a href="blog-single.html">{{ e.NomEvent }}</a></h3>
                                <div class="text">{{ e.DescriptionEvent }}</div>
                                <a class="read-more" href="{{ path('detailFront',{'id':e.id}) }}">Read More</a>
                            </div>
                        </div>
                    </div>

                   {% endfor %}

                    <!-- Post Share Options -->
                    <div class="pagination-outer text-center">
                        <div class="styled-pagination text-center">
                            <ul class="clearfix">
                                <li class="prev"><a href="#"><span class="fa fa-angle-double-left"></span> Prev</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li class="active"><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li class="next"><a href="#">Next <span class="fa fa-angle-double-right"></span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar sticky-top">

                    <!-- Search -->
                    <div class="sidebar-widget search-box">
                        <form method="post" action="contact.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Search....." required>
                                <button type="submit"><span class="icon fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>

                    <!-- Categories Widget -->
                    <div class="sidebar-widget categories-widget">
                        <div class="sidebar-title">
                            <h4>Categories</h4>
                        </div>
                        <div class="widget-content">
                            <ul class="blog-cat">
                                {% for c in CategoriesEvent %}
                                <li><a href="#">{{ c.nomCategorie}} </a></li>
                                {% endfor %}
                               {#} <li><a href="#">HEALTH  <span>( 03 )</span></a></li> {#}

                            </ul>
                        </div>
                    </div>

                    <!-- Categories Widget -->
                    <div class="sidebar-widget popular-posts">
                        <div class="sidebar-title">
                            <h4>Recent Post</h4>
                        </div>
                        <div class="widget-content">
                            <article class="post">
                                <div class="post-inner">
                                    <figure class="post-thumb"><img src="https://via.placeholder.com/100x100" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                    <div class="text"><a href="blog-single.html">Meal prep for a full week easy</a></div>
                                    <div class="post-info">19.9.2019</div>
                                </div>
                            </article>
                            <article class="post">
                                <div class="post-inner">
                                    <figure class="post-thumb"><img src="https://via.placeholder.com/100x100" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                    <div class="text"><a href="blog-single.html">Off Season is finnish now what?</a></div>
                                    <div class="post-info">19.9.2019</div>
                                </div>
                            </article>
                            <article class="post">
                                <div class="post-inner">
                                    <figure class="post-thumb"><img src="https://via.placeholder.com/100x100" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                    <div class="text"><a href="blog-single.html">Fitness helps you think & Feel Better.</a></div>
                                    <div class="post-info">19.9.2019</div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <!-- Search -->
                    <div class="sidebar-widget newsletter-box">
                        <div class="sidebar-title">
                            <h4>GET NEWSLETTER</h4>
                        </div>
                        <form method="post" action="contact.html">
                            <div class="form-group">
                                <input type="search" name="search-field" value="" placeholder="Entery Email" required>
                                <button type="submit"><span class="icon flaticon-paper-plane-1"></span></button>
                            </div>
                        </form>
                    </div>

                    <!-- Popular Posts -->
                    <div class="sidebar-widget popular-tags">
                        <div class="sidebar-title">
                            <h4>TAGS</h4>
                        </div>
                        <div class="widget-content">
                            <a href="#">Fitness</a>
                            <a href="#">Health</a>
                            <a href="#">Lifestyle</a>
                            <a href="#">Nutrition</a>
                            <a href="#">Sport</a>
                            <a href="#">Science</a>
                            <a href="#">Training</a>
                            <a href="#">Program</a>
                        </div>
                    </div>

                    <!-- Instagram Widget -->
                    <div class="sidebar-widget instagram-widget">
                        <div class="sidebar-title">
                            <h4>Instagram</h4>
                        </div>
                        <div class="widget-content">
                            <div class="clearfix">
                                <figure class="post-thumb"><img src="https://via.placeholder.com/110x110" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                <figure class="post-thumb"><img src="https://via.placeholder.com/110x110" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                <figure class="post-thumb"><img src="https://via.placeholder.com/110x110" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                <figure class="post-thumb"><img src="https://via.placeholder.com/110x110" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                <figure class="post-thumb"><img src="https://via.placeholder.com/110x110" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                                <figure class="post-thumb"><img src="https://via.placeholder.com/110x110" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>

        </div>
    </div>
</div>

<!-- Subscribe Section -->
<section class="subscribe-section">
    <div class="auto-container">
        <div class="inner-container margin-bottom">
            <div class="pattern-layer" style="background-image:url(https://via.placeholder.com/1545x200)"></div>
            <div class="section-image" style="background-image:url(https://via.placeholder.com/161x165)"></div>
            <div class="row clearfix">

                <!-- Title Column -->
                <div class="title-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h3>Don’t miss any updates <br> Get subscribed!</h3>
                    </div>
                </div>

                <!-- Form Column -->
                <div class="form-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">

                        <div class="newsletter-form">
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <input type="email" name="email" value="" placeholder="Add your email ......" required="">
                                    <button type="submit" class="theme-btn submit-btn"><span class="txt">Subscribe</span></button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
    {{ include('front_office/footer.html.twig') }}
{% endblock %}