
{% extends "base-back.html.twig" %}

{% block title %}Event Details{% endblock %}

{% block body %}

    {{ include('Dashboard/navbar.html.twig') }}
    {{ include('Dashboard/leftsideBar.html.twig') }}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <a href="{{ path('evenement') }}">
                <i class="fa fa-arrow-circle-left" style="font-size: 30px;"></i>
            </a>
        </div>
        <div class="row" style="display: flex;align-items: center;justify-content: center">

    <div class="col-md-6">

        <div class="card m-b-20">
            <img class="card-img-top img-fluid" src="{{ asset('uploads/Event_image/'~image ) }}" alt="Card image cap">

            <div class="card-body">
                <h4 class="dropcap text-pink"> {{ NomEvent }}</h4>

                <p class="card-text">{{ DescriptionEvent }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ LieuEvent }}</li>

            </ul>
            <div class="card-body">
                <a href="#" class="card-link">{{ NbrParticipantsEvent }} Personnes</a>
                <a href="#" class="card-link">{{ DateEvent |date('Y-m-d')}}</a>
            </div>
        </div>

    </div>
    </div>
    </div>
    </div>
{% endblock %}

