<div id="wrapper">
<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <a href="{{ path('front_office') }}" class="logo"><span>ENER<span>GYM</span></span><i class="mdi mdi-layers"></i></a>
    </div>

    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <!-- Page title -->
            <ul class="nav navbar-nav list-inline navbar-left">
                <li class="list-inline-item">
                    <button class="button-menu-mobile open-left">
                        <i class="mdi mdi-menu"></i>
                    </button>
                </li>
                <li class="list-inline-item">

                    <h4 class="page-title">Dashboard</h4>
                </li>

            </ul>
            <nav class="navbar-custom">

                <ul class="list-unstyled topbar-right-menu float-right mb-0">

                    <li>
                        <!-- Notification -->
                        <div class="notification-box">
                            <ul class="list-inline mb-0">
                                <li>
                                    <a href="javascript:void(0);" class="right-bar-toggle">
                                        <i class="mdi mdi-bell-outline noti-icon"></i>
                                    </a>
                                    <div class="noti-dot">
                                        <span class="dot"></span>
                                        <span class="pulse"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- End Notification bar -->
                    </li>

                    <li class="hide-phone">
                        <form class="app-search">
                            <input type="text" name="search" id="search"  placeholder="Search..."
                                   class="form-control">
                            <button type="submit"><i class="fa fa-search"></i></button>

                        </form>
                    </li>

                </ul>
            </nav>


        </div><!-- end container -->
    </div>
    <!-- /Right-bar -->
</div>
    <div class="side-bar right-bar">
        <a href="javascript:void(0);" class="right-bar-toggle">
            <i class="mdi mdi-close-circle-outline"></i>
        </a>
        <h4 class="">Notifications</h4>
        <div class="notification-list nicescroll">
            <ul class="list-group list-no-border user-list">
                {% for n in notification %}
                    {% if n.type=="New Signup" %}
                <li class="list-group-item">
                    <a href="{{path('user')}}" class="user-list-item">
                        <div class="icon bg-info">
                            <i class="mdi mdi-account"></i>
                        </div>
                        <div class="user-desc">
                            <span class="name">{{ n.type }}</span>
                            <span class="desc">{{ n.titre }}</span>
                            <span class="time">{{ n.createdAt|date('Y-m-d H:i:s') }}</span>
                        </div>
                    </a>
                </li>
                    {% endif %}
                {% endfor %}
                {% for n in notification %}
                {% if n.type=="Reclamation" %}
                <li class="list-group-item">
                    <a href="{{path('reclamation')}}" class="user-list-item">
                        <div class="icon bg-pink">
                            <i class="mdi mdi-comment"></i>
                        </div>
                        <div class="user-desc">
                            <span class="name">{{ n.type }}</span>
                            <span class="desc">{{ n.titre }}</span>
                            <span class="time">{{ n.createdAt|date('Y-m-d H:i:s') }}</span>
                        </div>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                {% for n in notification %}
                {% if n.type=="Out of stock" %}
                <li class="list-group-item active">
                    <a href="{{path('produit')}}" class="user-list-item">
                        <div class="icon bg-warning">
                            <i class="mdi mdi-settings"></i>
                        </div>
                        <div class="user-desc">
                            <span class="name">{{ n.type }}</span>
                            <span class="desc">{{ n.titre }}</span>
                            <span class="time">{{ n.createdAt|date('Y-m-d H:i:s') }}</span>
                        </div>
                    </a>
                </li>
                {% endif %}
                {% endfor %}

            </ul>
        </div>
    </div>

</div>

<!-- Top Bar End -->