{% extends 'base-back.html.twig' %}


{% block body %}
    {{ render(path('notification', {max: 3})) }}
    {{ include('Dashboard/leftsideBar.html.twig') }}
    <!-- <div class="page-inner"> -->


    <h1>Article index</h1>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title">Gestion d'Articles </h4>
            <div>
                <a  style=" position:absolute;right:10%;top:3% ;" class="btn btn-icon waves-effect waves-light btn-success m-b-5" href="{{ path('article_new') }}"> <i class="fa fa-plus dark"></i> </a>
            </div>
            <input type="text" id="search" class="form-control" placeholder="Search">

            <table id="datatable" class="table table-bordered">
        <thead>
            <tr>
                <th>Titre</th>
                <th>DateCreation</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="all">
        {% for article in articles %}
            <tr>
                <td>{{ article.titre }}</td>
                <td>{{ article.dateCreation }}</td>
                <td>{{ article.description }}</td>
                <td>
                    <a  type="button" href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-primary btn-icon rounded-pill"><i class=" dripicons-document-edit"></i></a>
                    <a  type="button"  href="{{ path('article_show', {'id': article.id}) }}"  class="btn btn-danger btn-icon rounded-pill"><i class="mdi mdi-eye"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
            </table>
        </div>
    </div>
</div>
        </div>
    </div>
</div>

    <a href="{{ path('article_new') }}">Create new</a>
{% endblock %}


{% block javascripts %}



    <script>
        $( document ).ready(function() {
            var currentRequest = null;
            $("#search").keyup(function(e){
                var value = $(this).val();
                if(value =='')
                {
                    currentRequest.abort()
                }
                else if(currentRequest != null) {
                    currentRequest.abort();
                }
                currentRequest = $.ajax({
                    url : "{{ path('ajaxsearcharticle') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },
                    success : function(retour)
                    {
                        $('#all').html(retour);
                    },
                });
                return false;
            });
        });
    </script>

{% endblock %}


