{% extends "base-front.html.twig" %}

{% block title %}
    Cours!
{% endblock %}

{% block body %}
    {{ include('front_office/navbar.html.twig') }}
    <section class="page-title" style="background-image:url(https://via.placeholder.com/1920x600)">
        <div class="auto-container">
            <div class="clearfix">
                <div class="pull-left">
                    <h2>Planning des cours</h2>
                    <div class="text">Decouvrez les cours hebdomadaires de {{ salle.nom }}</div>

                </div>
                <div class="pull-right">
                    <ul class="page-breadcrumb">
                        <li><a href="index.html">home</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="timetable-section timetable-page">
        <div class="side-text">ENERGYM</div>
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <ul class="service-list">
                    <li  ><a href="{{ path('detailFront',{'id':salle.id}) }}">retourner a la page precedente </a></li>
                </ul>

                <h2>Le planning des cours</h2>






            </div>

            <div class="inner-container">
                <div class="table-outer">
                    <div class="table-inner" >
                        <!-- Table Title Box -->

                        <!-- Timetable Tabs-->
                        <div class="timetable-tabs tabs-box">



                            <!--Tabs Container-->
                            <div class="tabs-content">

                                <!--Tab / Active Tab-->
                                <div class="tab active-tab" id="prod-cardio">
                                    <div class="content">
                                        <div class="clearfix">
                                            <table id="datatable" class="table " style="border: none">
                                                <th>  <div class="day">Lundi</div></th>
                                                <td style="border: none">

                                                    {% for cour in salle.Cours %}
                                                        {% if cour.jour == "lundi" %}
                                                            <div class="time-box">
                                                                <div class="box-inner">
                                                                    <div class="time"><a href="{{ path('detailcoursFront',{'id':cour.id}) }}">{{ cour.nom }}</a> <span>{{ cour.nomCoach }} <br> {{ cour.heureD |date('H:i')}}  -  {{ cour.heureF|date('H:i') }}</span></div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>

                                                <tr style="border: none">
                                                    <th> <div class="day">Mardi</div></th>
                                                    <td style="border: none">

                                                        {% for cour in salle.Cours %}
                                                            {% if cour.jour == "mardi" %}
                                                                <div class="time-box ">
                                                                    <div class="box-inner">
                                                                        <div class="time "style="margin-bottom: 15px"><a href="{{ path('detailcoursFront',{'id':cour.id}) }}">{{ cour.nom }}</a> <span>{{ cour.nomCoach }} <br> {{ cour.heureD |date('H:i')}}  -  {{ cour.heureF|date('H:i') }}</span></div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}</td>
                                                    </td>
                                                </tr>
                                                <tr style="border: none">
                                                    <th> <div class="day">Mercredi</div></th>
                                                    <td style="border: none">
                                                        {% for cour in salle.Cours %}
                                                            {% if cour.jour == "mercredi" %}
                                                                <div class="time-box">

                                                                    <div class="box-inner">
                                                                        <div class="time"><a href="{{ path('detailcoursFront',{'id':cour.id}) }}">{{ cour.nom }}</a> <span>{{ cour.nomCoach }} <br> {{ cour.heureD |date('H:i')}}  -  {{ cour.heureF|date('H:i') }}</span></div>
                                                                    </div>

                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}</td>
                                                    </td>
                                                </tr>
                                                <tr style="border: none">
                                                    <th> <div class="day">Jeudi</div></th>
                                                    <td style="border: none">
                                                        {% for cour in salle.Cours %}
                                                            {% if cour.jour == "jeudi" %}
                                                                <div class="time-box">


                                                                    <div class="box-inner">
                                                                        <div class="time"><a href="{{ path('detailcoursFront',{'id':cour.id}) }}">{{ cour.nom }}</a> <span>{{ cour.nomCoach }} <br> {{ cour.heureD |date('H:i')}}  -  {{ cour.heureF|date('H:i') }}</span></div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}</td>
                                                    </td>
                                                </tr>
                                                <tr style="border: none">
                                                    <th>  Vendredi</div></div></th>
                                                    <td style="border: none">
                                                        {% for cour in salle.Cours %}
                                                            {% if cour.jour == "vendredi" %}
                                                                <div class="time-box">

                                                                    <div class="box-inner">
                                                                        <div class="time"><a href="{{ path('detailcoursFront',{'id':cour.id}) }}">{{ cour.nom }}</a><span>{{ cour.nomCoach }} <br> {{ cour.heureD |date('H:i')}}  -  {{ cour.heureF|date('H:i') }}</span></div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}</td>
                                                    </td>
                                                </tr>
                                                <tr style="border: none">
                                                    <th> <div class="day">Samedi</div></th>
                                                    <td style="border: none">
                                                        {% for cour in salle.Cours %}
                                                            {% if cour.jour == "samedi" %}
                                                                <div class="time-box">

                                                                    <div class="box-inner">
                                                                        <div class="time"><a href="{{ path('detailcoursFront',{'id':cour.id}) }}">{{ cour.nom }}</a> <span>{{ cour.nomCoach }} <br> {{ cour.heureD |date('H:i')}}  -  {{ cour.heureF|date('H:i') }}</span></div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}</td>
                                                    </td>
                                                </tr>

                                                </tbody>


                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        </div>
        </div>
        </div>
        </div>

        </div>
        </div>

        </div>
    </section>
    {{ include('front_office/footer.html.twig') }}
{% endblock %}