{% extends "base-front.html.twig" %}

{% block title %}
    Hello HomeController!
{% endblock %}

{% block body %}
    {{ include('front_office/navbar.html.twig') }}
<section class="page-title" style="background-image:url(https://via.placeholder.com/1920x600)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <h2>Decouvrez {{ Nom }} !</h2>

            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="index.html">home</a></li>
                    <li>{{ Nom }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
    <section class="about-section style-two">
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Sec Title -->
                        <div class="sec-title">
                            <div class="title"></div>
                            <h2>{{ Nom }}</h2>

                        </div>

                        <div class="red-text"> {{ Description }}</div>
                        <!-- Featured Block -->
                        <div class="featured-block">
                            <div class="block-inner">
                                <span class="icon flaticon-people"></span>
                                <strong>Réservez votre place et rejoignez nous !</strong>

                            </div>
                        </div>

                        <!-- Featured Block -->
                        <div class="featured-block">
                            <div class="block-inner">
                                <span class="icon flaticon-email"></span>
                                <strong>Veuillez sauvegarder le code pour l'accès ! </strong>

                            </div>
                        </div>

                    </div>
                </div>

                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column wow fadeInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInRight;">
                        <div class="award"><img src="images/resource/award.png" alt=""></div>
                        <div class="image">
                            <img src="https://via.placeholder.com/654x717" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="counter-section-two">
        <div class="color-layer"></div>
        <div class="auto-container">
            <!-- Fact Counter -->
            <div class="fact-counter-two">
                <div class="row clearfix">

                    <!-- Column -->
                    <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                        <div class="inner wow fadeInLeft animated" data-wow-delay="0ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeInLeft;">
                            <div class="content">
                                <div class="icon flaticon-muscle"></div>
                                <div class="count-outer count-box counted">
                                    <span class="count-text" data-speed="2500" data-stop="550">Notre coach</span>
                                </div>
                                <div class="counter-title"> {{ nomCoach }}</div>
                            </div>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column counter-column col-lg-3 col-md-6 col-sm-12" >
                        <div class="inner wow fadeInLeft animated" data-wow-delay="300ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 300ms; animation-name: fadeInLeft;">
                            <div class="content">
                                <div class="icon flaticon-clock"></div>
                                <div class="count-outer count-box alternate counted">
                                    <span class="count-text" data-speed="2500" data-stop="550">{{ jour }}</span>
                                </div>
                                <div class="counter-title" >{{ heureD|date('H:i') }} - {{ heureF|date('H:i') }}</div>
                            </div>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                        <div class="inner wow fadeInLeft animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInLeft;">
                            <div class="content">
                                <div class="icon flaticon-building"></div>
                                <div class="count-outer count-box counted">
                                    <span class="count-text" data-speed="2500" data-stop="550">{{salleassocie}}</span>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column counter-column col-lg-3 col-md-6 col-sm-12">
                        <div class="inner wow fadeInLeft animated" data-wow-delay="600ms" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-delay: 600ms; animation-name: fadeInLeft;">
                            <div class="content">
                                <div class="icon flaticon-fitness-1"></div>
                                <div class="count-outer count-box counted">
                                    <span class="count-text" data-speed="2000" data-stop="25">{{ nombre }}</span>
                                </div>
                                <div class="counter-title">Places</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section>
    {{ include('front_office/footer.html.twig') }}
{% endblock %}