{% extends "base-back.html.twig" %}
{% block body %}
    {{ include('Dashboard/navbar.html.twig') }}
    {{ include('Dashboard/leftSideBar.html.twig') }}

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-12">
                    <div class="card-box table-responsive">
                        <h4 class="m-t-0 header-title">Gestion d'User </h4>
                        {% for role in app.user.roles %}
                        {% if role == "ROLE_ADMIN" %}
                        <div>
                            <a  style=" position:absolute;right:10%;top:1% ;" class="btn btn-icon waves-effect waves-light btn-success m-b-5" href="{{ path('addUser') }}"> <i class="fa fa-plus dark"></i> </a>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <table id="datatable" class="table table-bordered">
                            <thead>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Created_at</th>
                            <th>Status</th>
                            <th>Role</th>
                            <th>Image</th>
                            <th>Salle associe</th>
                            </thead>
                            <tbody>
                            {% for u in users  %}
                            <td>{{ u.nom }}</td>
                            <td>{{ u.prenom }}</td>
                            <td>{{ u.email }}</td>
                            <td>{{ u.createdAt | date }}</td>
                            <td>
                                {% if u.status == 1 %}
                                    <a type="button" href="{{ path('modifyStatus', {'id': u.id}) }}" class="btn btn-success btn-rounded w-md waves-effect waves-light m-b-5">Active</a>
                                {% elseif u.status == 0 %}
                                    <a type="button" href="{{ path('modifyStatus', {'id': u.id}) }}"  class="btn btn-danger btn-rounded w-md waves-effect waves-light m-b-5">Banned</a>
                                {% elseif u.status == 2 %}
                                    <a type="button" href="{{ path('modifyStatus', {'id': u.id}) }}"  class="btn btn-warning btn-rounded w-md waves-effect waves-light m-b-5">freshly added</a>

                                {% endif %}
                            </td>
                            <td>
                                {% for role in u.roles %}
                                    {% if role == "ROLE_USER" %}
                                        <span class="badge badge-primary badge-pill">ROLE_USER</span>
                                    {% elseif role == "ROLE_GERANT" %}
                                        <span class="badge badge-danger badge-pill">ROLE_GERANT</span>
                                    {% elseif role == "ROLE_ADMIN" %}
                                        <span class="badge badge-warning badge-pill">ROLE_ADMIN</span>

                                    {% endif %}
                                {% endfor %}


                            </td>


                            <td><img src="{{ asset('uploads/user/'~ u.imageFile)  }}" alt="" width="50">
                            </td>
                            <td>
                                {% for i in u.IdSalle %}
                                    <span class="badge badge-pink badge-pill">    {{ i.nom }} </span>
                                {% endfor %}
                            </td>


                            </tbody>
                            {% endfor %}
                        </table>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="datatable-buttons_info" role="status" aria-live="polite">
                                    Showing 1 to {{ users|length }} entries
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7" >
                                <div class="dataTables_paginate paging_simple_numbers" id="datatable-buttons_paginate">
                                    <div class="navigation" style="float:right;">
                                        {{ knp_pagination_render(users) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}